# Задание: Обработка данных статистических сборников

### Цель
        Привести разрозненные данные статистических сборников Росстата к форме, удобной для
    анализа, в том числе для использования в аналитических и научно-исследовательских
    целях.
### Задачи
 __1.__ Используя статистические сборники Росстата1, _определить перечень показателей_ в разрезе субъектов Российской Федерации, относящийся к тематикам «здравоохранение» и «демография».
 
__2.__ Из полученного перечня _выбрать 5-7 показателей тематики «здравоохранение» и 5-7 показателей тематики «демография»_.

__3.__ В отношении выбранных показателей _сформировать датасеты в формате временных рядов_ за максимально озможные временные периоды, в том числе:
- провести предобработку данных (работа с пропусками, нормализация
данных2
);

- определить перечень потенциальных идентификаторов (внешних ключей),
позволяющих обеспечивать взаимоувязку данных и устанавливать
отношения между датасетами;
-  учесть проблемы объединения данных по показателям (разные
географические привязки, разные уровни агрегации, изменение методологии,
различные временные промежутки сбора данных / проведения
статистического наблюдения), предложить возможные решения выявленных
проблем.

__4.__ Сформировать из обработанных датасетов базу данных на любой удобной СУБД
(MySQL, PostgreSQL, SQLite).3
<a id='section_id2'></a>

### Подберем показатели для оценки субъектов Российской Федерации исходя из нормативных документов.


### Перечень показателей «демография»:
- [__общая численность__](#section_id)__  [(Демографический ежегодник России 2019)](https://rosstat.gov.ru/bgd/regl/B19_16/Main.htm)
-  [__смертность__](#section_id3)__ ([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))
- [__рождаемость__](#section_id4)__ ([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))
- [__браки__](#section_id5)__ ([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))
- [__разводы__](#section_id6)__ ([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))
- [__миграция__](#section_id7)__ ([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))

### Перечень показателей «здравоохранение»:
- [__расходы консолидированных бюджетов на здравоохранение__](#section_id8)  [(Здравоохранение в России - 2019 г.)](https://rosstat.gov.ru/bgd/regl/b19_34/Main.htm)
- [__среднемесячная номинальная начисленная заработная плата работников здравоохранения__](#section_id9)  [(Здравоохранение в России - 2019 г.)](https://rosstat.gov.ru/bgd/regl/b19_34/Main.htm)
- [__число больничных коек__](#section_id10)  [(Здравоохранение в России - 2019 г.)](https://rosstat.gov.ru/bgd/regl/b19_34/Main.htm)
- [__число пациентов с алкоголизмом и алкогольными психозами__](#section_id11)  [(Здравоохранение в России - 2019 г.)](https://rosstat.gov.ru/bgd/regl/b19_34/Main.htm)
- [__прерывание беременности (аборты)__](#section_id12)([Регионы России. Социально-экономические показатели - 2019 г.](https://rosstat.gov.ru/bgd/regl/b19_14p/Main.htm))

        В ходе решения задания была изучена информация и подобраны необходимые показатели на основе которых составлялись датасеты. Для решения этой задачи использовались библиотеки pandas, numpy для работы с датафреймами и обработки данных. Библиотеки wget, zipfile, lxml ддля обработки docx документов, т.к. часть информации была не в виде xls. Библиотеки pymysql, os, sqlalchemy для записи в базу данных. К сожелению в связи с нехваткой времени не успел реализовать автоматическое добавление INDEX и FOREIGN KEY. В Dbeaver все это можно сделать, но хотелось этот процесс автоматизировать. В качестве внешних ключей хотел использовать столец 'Субъект',  т.к. это уникальное значение и его удобно использовать для связи с другми таблицами.При объединении данных проблемой было, то что они были разноформатными, поэтому пришлось использовать дополнительные функции.

In [268]:
import pandas as pd
import numpy as np
import wget
import zipfile
from lxml import etree
import pymysql
from os import environ
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime

In [269]:
# фукция для оптимизация памяти

def reduce_mem_usage(df):  
    """ Выполняет итерацию по всем столбцам фрейма данных и изменяет тип данных
        чтобы уменьшить использование памяти.       
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [270]:
# чтобы код работал необходимо изменить настройки на свои
#     art   :    1     @localhost: 3306 /healthcare_demographics
# [USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+pymysql://art:1@localhost') # connect to server
engine.execute("CREATE DATABASE IF NOT EXISTS healthcare_demographics") #create db
engine.execute("USE healthcare_demographics")
engine = create_engine('mysql+pymysql://art:1@localhost:3306/healthcare_demographics?charset=utf8', echo=True)

Получим данные сайта __rosstat.gov.ru__ и приведем к нужному виду:

<a id='section_id'></a>

## [Население субъектов Российской Федерациина 1 января (тысяч человек)](#section_id2)

In [271]:
population = pd.read_excel("https://rosstat.gov.ru/bgd/regl/B19_16/IssWWW.exe/Stg/pril1.xls")
population.columns = ['Субъект','2000','2005','2010',
                      '2011','2012','2013','2014','2015','2016','2017','2018','2019']
population = population.drop([0,1,2,3])
population.reset_index(inplace = True, drop = True)
population.info()
population['Субъект'].tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  96 non-null     object
 1   2000     94 non-null     float64
 2   2005     94 non-null     float64
 3   2010     94 non-null     float64
 4   2011     94 non-null     float64
 5   2012     94 non-null     float64
 6   2013     94 non-null     float64
 7   2014     94 non-null     float64
 8   2015     96 non-null     float64
 9   2016     96 non-null     float64
 10  2017     96 non-null     float64
 11  2018     96 non-null     float64
 12  2019     96 non-null     float64
dtypes: float64(12), object(1)
memory usage: 9.9+ KB

['Российская Федерация        ',
 'Центральный федеральный округ',
 'Белгородская область ',
 'Брянская область ',
 'Владимирская область ',
 'Воронежская область ',
 'Ивановская область ',
 'Калужская область ',
 'Костромская область ',
 'Курская область ',
 'Липецкая область ',
 'Московская область',
 'Орловская область ',
 'Рязанская область ',
 'Смоленская область ',
 'Тамбовская область ',
 'Тверская область ',
 'Тульская область ',
 'Ярославская область ',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия ',
 'Республика Коми  ',
 'Архангельская область ',
 'Ненецкий автономный округ       ',
 'Архангельская область без автономного округа',
 'Вологодская область ',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область ',
 'Псковская область ',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия-Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ - Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [272]:
population[population['2005'].isnull()]

,Субъект,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896.0,1907.0,1912.0,1914.0,1912.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,416.0,429.0,437.0,443.0

### До 2015 года Крым не входил в состав России поэтому во всех DataFrame в соответствующих полях будем проставлять нули.

In [273]:
population.fillna(0, inplace=True)
population.iloc[36:49]

,Субъект,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1896.0,1907.0,1912.0,1914.0,1912.0
37,Краснодарский край,5133.0,5119.0,5214.0,5230.0,5284.0,5330.0,5404.0,5454.0,5514.0,5571.0,5603.0,5648.0
38,Астраханская область,1012.0,1007.0,1011.0,1010.0,1015.0,1014.0,1017.0,1021.0,1019.0,1019.0,1017.0,1014.0
39,Волгоградская область,2739.0,2656.0,2614.0,2607.0,2595.0,2583.0,2569.0,2557.0,2546.0,2535.0,2521.0,2508.0
40,Ростовская область,4455.0,4353.0,4285.0,4275.0,4260.0,4254.0,4246.0,4242.0,4236.0,4231.0,4221.0,4203.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399.0,416.0,429.0,437.0,443.0
42,Северо-Кавказский федеральный округ,8647.0,8994.0,9353.0,9439.0,9493.0,9541.0,9590.0,9659.0,9718.0,9776.0,9823.0,9867.0
43,Республика Дагестан,2443.0,2653.0,2869.0,2914.0,2931.0,2946.0,2964.0,2990.0,3015.0,3042.0,3064.0,3086.0
44,Республика Ингушетия,340.0,434.0,412.0,415.0,430.0,442.0,453.0,464.0,473.0,481.0,488.0,498.0
45,Кабардино-Балкарская Республика,879.0,877.0,859.0,860.0,859.0,859.0,859.0,861.0,862.0,865.0,865.0,866.0
46,Карачаево-Черкесская Республика,440.0,450.0,474.0,477.0,475.0,472.0,470.0,469.0,468.0,466.0,466.0,466.0
47,Республика Северная Осетия-Алания,694.0,706.0,712.0,712.0,709.0,706.0,704.0,706.0,704.0,703.0,702.0,699.0
48,Чеченская Республика,1110.0,1133.0,1250.0,1275.0,1302.0,1325.0,1346.0,1370.0,1394.0,1415.0,1437.0,1457.0

In [274]:
reduce_mem_usage(population)

# посмотрим остались ли какие либо выпадающие значения
population.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 19.3%

,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,4638.312500,4541.562500,4511.614746,4512.760254,4519.177246,4528.687500,4538.947754,4620.468750,4629.416504,4637.895996,4640.489746,4637.604004
std,15729.838867,15410.339844,15315.770508,15320.930664,15341.768555,15374.931641,15410.500977,15672.780273,15704.108398,15732.250977,15741.898438,15732.907227
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,43.000000,44.000000,44.000000,44.000000,44.000000
25%,909.500000,868.250000,826.250000,820.250000,812.750000,807.750000,801.000000,809.750000,806.750000,806.500000,803.250000,794.750000
50%,1376.000000,1320.500000,1283.500000,1275.000000,1276.500000,1273.000000,1270.000000,1288.000000,1284.500000,1281.500000,1274.500000,1265.000000
75%,2775.500000,2743.750000,2774.000000,2767.250000,2760.000000,2754.250000,2749.000000,2760.000000,2772.000000,2786.000000,2792.000000,2793.500000
max,146890.000000,143801.000000,142833.000000,142865.000000,143056.000000,143347.000000,143667.000000,146267.000000,146545.000000,146804.000000,146880.000000,146781.000000

In [275]:
# запишем полученный датафрейм в базу данных
population.to_sql('population', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:20,701 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-09-01 22:28:20,701 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,704 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-09-01 22:28:20,704 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,707 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-09-01 22:28:20,708 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,710 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-09-01 22:28:20,710 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,714 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-09-01 22:28:20,714 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,719 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-09-01 22:28:20,723 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,725 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-09-01 22:28:20,727 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,730 INFO sqlalchemy.engine.base.Engine DESCRIBE `population`
2020-09-01 22:28:20,732 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,737 INFO sqlalchemy.engine.base.Engine DESCRIBE `population`
2020-09-01 22:28:20,738 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,741 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:20,742 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,746 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `population`
2020-09-01 22:28:20,747 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,755 INFO sqlalchemy.engine.base.Engine
DROP TABLE population
2020-09-01 22:28:20,756 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,771 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:20,777 INFO sqlalchemy.engine.base.Engine
CREATE TABLE population (
	`Субъект` TEXT,
	`2000` FLOAT(23),
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23),
	`2019` FLOAT(23)
)


2020-09-01 22:28:20,778 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:20,805 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:20,808 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:20,813 INFO sqlalchemy.engine.base.Engine INSERT INTO population (`Субъект`, `2000`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`, `2019`) VALUES (%(Субъект)s, %(2000)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s, %(2019)s)
2020-09-01 22:28:20,814 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация        ', '2000': 146890.0, '2005': 143801.0, '2010': 142833.0, '2011': 142865.0, '2012': 143056.0, '2013': 143347.0, '2014': 143667.0, '2015': 146267.0, '2016': 146545.0, '2017': 146804.0, '2018': 146880.0, '2019': 146781.0}, {'Субъект': 'Центральный федеральный округ', '2000': 38228.0, '2005': 38044.0, '2010': 38335.0, '2011': 38445.0, '2012': 38538.0, '2013': 38679.0, '2014': 38820.0, '2015': 38951.0, '2016': 39104.0, '2017': 39209.0, '2018': 39311.0, '2019': 39378.0}, {'Субъект': 'Белгородская область ', '2000': 1502.0, '2005': 1512.0, '2010': 1532.0, '2011': 1532.0, '2012': 1536.0, '2013': 1541.0, '2014': 1544.0, '2015': 1548.0, '2016': 1550.0, '2017': 1553.0, '2018': 1550.0, '2019': 1548.0}, {'Субъект': 'Брянская область ', '2000': 1423.0, '2005': 1344.0, '2010': 1287.0, '2011': 1275.0, '2012': 1264.0, '2013': 1254.0, '2014': 1242.0, '2015': 1233.0, '2016': 1226.0, '2017': 1221.0, '2018': 1211.0, '2019': 1200.0}, {'Субъект': 'Владимирская область ', '2000': 1576.0, '2005': 1498.0, '2010': 1450.0, '2011': 1441.0, '2012': 1432.0, '2013': 1422.0, '2014': 1413.0, '2015': 1406.0, '2016': 1397.0, '2017': 1390.0, '2018': 1378.0, '2019': 1366.0}, {'Субъект': 'Воронежская область ', '2000': 2441.0, '2005': 2365.0, '2010': 2335.0, '2011': 2335.0, '2012': 2332.0, '2013': 2330.0, '2014': 2329.0, '2015': 2331.0, '2016': 2333.0, '2017': 2335.0, '2018': 2333.0, '2019': 2328.0}, {'Субъект': 'Ивановская область ', '2000': 1195.0, '2005': 1117.0, '2010': 1068.0, '2011': 1060.0, '2012': 1054.0, '2013': 1049.0, '2014': 1043.0, '2015': 1037.0, '2016': 1030.0, '2017': 1023.0, '2018': 1015.0, '2019': 1004.0}, {'Субъект': 'Калужская область ', '2000': 1071.0, '2005': 1027.0, '2010': 1015.0, '2011': 1009.0, '2012': 1008.0, '2013': 1006.0, '2014': 1005.0, '2015': 1011.0, '2016': 1010.0, '2017': 1014.0, '2018': 1012.0, '2019': 1009.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2000': 195.0, '2005': 186.0, '2010': 178.0, '2011': 176.0, '2012': 175.0, '2013': 173.0, '2014': 171.0, '2015': 169.0, '2016': 166.0, '2017': 164.0, '2018': 162.0, '2019': 160.0}, {'Субъект': 'Чукотский автономный округ', '2000': 61.0, '2005': 52.0, '2010': 51.0, '2011': 51.0, '2012': 51.0, '2013': 51.0, '2014': 51.0, '2015': 51.0, '2016': 50.0, '2017': 50.0, '2018': 50.0, '2019': 50.0})
2020-09-01 22:28:20,825 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id3'></a>

  ### <center><h2>[ОБЩИЕ КОЭФФИЦИЕНТЫ СМЕРТНОСТИ](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>(число умерших на 1000 человек населения)</h4></center>

In [276]:
def read_docx(url, **kwargs):
    """Чтение таблиц как фреймов данных из документа Word
    """
    
    docx_file = wget.download(url)
    ns = {'w': 'http://schemas.openxmlformats.org/wordprocessingml/2006/main'}
    with zipfile.ZipFile(docx_file).open('word/document.xml') as f:
        root = etree.parse(f)
    for el in root.xpath('//w:tbl', namespaces=ns):
        el.tag = 'table'
    for el in root.xpath('//w:tr', namespaces=ns):
        el.tag = 'tr'
    for el in root.xpath('//w:tc', namespaces=ns):
        el.tag = 'td'
    return pd.read_html(etree.tostring(root), **kwargs)

In [277]:
# скачаем файл и передадим его в функцию которая его обработает
mortality_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/02-09.docx'
mortality = read_docx(mortality_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(mortality[0])
df_1 = pd.DataFrame(mortality[1])
mortality = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
mortality.columns = ['Субъект','2005','2010','2011','2012','2013','2014', '2015','2016','2017','2018',
                     'Место, занимаемое в Российской Федерации 2018']
mortality.drop([0,25,52,72,100], inplace = True)
mortality.drop('Место, занимаемое в Российской Федерации 2018', axis=1, inplace=True)
mortality.reset_index(inplace = True, drop = True)
population['Субъект'].tolist()

['Российская Федерация        ',
 'Центральный федеральный округ',
 'Белгородская область ',
 'Брянская область ',
 'Владимирская область ',
 'Воронежская область ',
 'Ивановская область ',
 'Калужская область ',
 'Костромская область ',
 'Курская область ',
 'Липецкая область ',
 'Московская область',
 'Орловская область ',
 'Рязанская область ',
 'Смоленская область ',
 'Тамбовская область ',
 'Тверская область ',
 'Тульская область ',
 'Ярославская область ',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия ',
 'Республика Коми  ',
 'Архангельская область ',
 'Ненецкий автономный округ       ',
 'Архангельская область без автономного округа',
 'Вологодская область ',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область ',
 'Псковская область ',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия-Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ - Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [278]:
# проверим пропущенные значения
mortality.isna().sum() 
mortality.head(60)

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Российская Федерация,161.0,142.0,135.0,133.0,130.0,131.0,130.0,129.0,124.0,125.0
1,Центральный федеральный округ,171.0,152.0,139.0,139.0,136.0,136.0,135.0,135.0,129.0,129.0
2,Белгородская область,160.0,144.0,141.0,140.0,138.0,140.0,139.0,139.0,135.0,135.0
3,Брянская область,198.0,170.0,161.0,162.0,159.0,160.0,158.0,156.0,153.0,152.0
4,Владимирская область,202.0,180.0,171.0,167.0,167.0,166.0,165.0,165.0,157.0,160.0
5,Воронежская область,185.0,170.0,159.0,156.0,155.0,157.0,153.0,152.0,146.0,147.0
6,Ивановская область,220.0,184.0,169.0,169.0,163.0,164.0,160.0,161.0,159.0,161.0
7,Калужская область,191.0,165.0,154.0,158.0,152.0,153.0,150.0,150.0,148.0,149.0
8,Костромская область,213.0,177.0,166.0,161.0,161.0,158.0,160.0,156.0,149.0,149.0
9,Курская область,198.0,176.0,168.0,166.0,161.0,166.0,163.0,161.0,155.0,154.0
10,Липецкая область,177.0,167.0,152.0,154.0,152.0,154.0,153.0,152.0,147.0,145.0
11,Московская область,171.0,154.0,141.0,143.0,139.0,138.0,130.0,130.0,123.0,122.0
12,Орловская область,188.0,174.0,163.0,164.0,162.0,164.0,164.0,164.0,158.0,158.0
13,Рязанская область,202.0,181.0,164.0,164.0,158.0,161.0,158.0,160.0,153.0,154.0
14,Смоленская область,212.0,184.0,168.0,168.0,164.0,161.0,163.0,162.0,155.0,155.0
15,Тамбовская область,193.0,175.0,164.0,162.0,161.0,163.0,161.0,159.0,151.0,156.0
16,Тверская область,230.0,201.0,187.0,183.0,180.0,178.0,177.0,177.0,169.0,168.0
17,Тульская область,218.0,193.0,177.0,177.0,174.0,171.0,171.0,170.0,165.0,162.0
18,Ярославская область,201.0,172.0,158.0,159.0,158.0,155.0,156.0,157.0,152.0,149.0
19,г. Москва,119.0,110.0,97.0,99.0,96.0,97.0,99.0,100.0,96.0,97.0
20,Северо-Западный федеральный округ,176.0,149.0,139.0,138.0,134.0,133.0,134.0,132.0,128.0,126.0
21,Республика Карелия,185.0,162.0,148.0,154.0,146.0,146.0,153.0,148.0,146.0,148.0
22,Республика Коми,155.0,131.0,124.0,122.0,120.0,122.0,124.0,124.0,118.0,119.0
23,Архангельская область,171.0,146.0,139.0,136.0,133.0,133.0,135.0,135.0,130.0,131.0
24,Ненецкий автономный округ,122.0,119.0,105.0,102.0,107.0,89.0,92.0,89.0,86.0,90.0
25,Архангельская область без автономного округа,172.0,147.0,140.0,138.0,134.0,134.0,136.0,137.0,132.0,133.0
26,Вологодская область,188.0,167.0,157.0,151.0,150.0,148.0,148.0,150.0,144.0,144.0
27,Калининградская область,182.0,142.0,133.0,132.0,131.0,133.0,132.0,125.0,125.0,122.0
28,Ленинградская область,199.0,158.0,147.0,147.0,144.0,145.0,140.0,140.0,133.0,129.0
29,Мурманская область,138.0,119.0,115.0,113.0,110.0,114.0,116.0,115.0,111.0,113.0
30,Новгородская область,225.0,200.0,184.0,179.0,178.0,174.0,175.0,175.0,171.0,167.0
31,Псковская область,246.0,212.0,194.0,196.0,186.0,184.0,182.0,179.0,174.0,172.0
32,г. Санкт-Петербург,156.0,134.0,125.0,124.0,119.0,117.0,119.0,117.0,114.0,111.0
33,Южный федеральный округ,156.0,141.0,137.0,134.0,131.0,136.0,136.0,135.0,129.0,128.0
34,Республика Адыгея,152.0,141.0,138.0,134.0,131.0,133.0,130.0,129.0,126.0,123.0
35,Республика Калмыкия,114.0,110.0,101.0,101.0,99.0,99.0,98.0,98.0,99.0,97.0
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,153.0,153.0,152.0,144.0,141.0
37,Краснодарский край,156.0,135.0,135.0,132.0,128.0,129.0,130.0,129.0,125.0,120.0
38,Астраханская область,154.0,135.0,130.0,127.0,122.0,126.0,123.0,120.0,114.0,116.0
39,Волгоградская область,157.0,147.0,138.0,136.0,135.0,137.0,138.0,137.0,131.0,133.0
40,Ростовская область,158.0,147.0,143.0,140.0,138.0,141.0,139.0,139.0,134.0,135.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,143.0,149.0,139.0,131.0,128.0
42,Северо-Кавказский федеральный округ,94.0,86.0,85.0,83.0,80.0,80.0,79.0,78.0,75.0,75.0
43,Республика Дагестан,58.0,59.0,58.0,57.0,55.0,55.0,54.0,52.0,51.0,48.0
44,Республика Ингушетия,43.0,45.0,40.0,37.0,35.0,35.0,33.0,33.0,32.0,31.0
45,Кабардино-Балкарская Республика,104.0,94.0,94.0,90.0,90.0,88.0,88.0,86.0,85.0,82.0
46,Карачаево-Черкесская Республика,113.0,100.0,99.0,98.0,95.0,97.0,96.0,95.0,92.0,90.0
47,Республика Северная Осетия – Алания,122.0,109.0,109.0,106.0,105.0,107.0,107.0,104.0,103.0,102.0
48,Чеченская Республика,51.0,56.0,53.0,55.0,49.0,51.0,49.0,47.0,46.0,44.0
49,Ставропольский край,142.0,124.0,123.0,120.0,117.0,117.0,116.0,117.0,112.0,115.0
50,Приволжский федеральный округ,165.0,150.0,143.0,140.0,139.0,139.0,139.0,136.0,131.0,133.0
51,Республика Башкортостан,142.0,134.0,134.0,132.0,131.0,131.0,133.0,129.0,124.0,124.0
52,Республика Марий Эл,171.0,152.0,142.0,137.0,137.0,137.0,138.0,132.0,124.0,127.0
53,Республика Мордовия,171.0,157.0,148.0,145.0,148.0,143.0,141.0,141.0,135.0,134.0
54,Республика Татарстан,138.0,131.0,124.0,122.0,121.0,122.0,120.0,116.0,113.0,114.0
55,Удмуртская Республика,155.0,139.0,134.0,129.0,127.0,128.0,129.0,126.0,120.0,120.0
56,Чувашская Республика,153.0,145.0,136.0,133.0,131.0,133.0,131.0,132.0,126.0,126.0
57,Пермский край,181.0,153.0,147.0,142.0,140.0,140.0,142.0,138.0,133.0,135.0
58,Кировская область,193.0,167.0,158.0,156.0,154.0,151.0,152.0,149.0,145.0,149.0
59,Нижегородская область,200.0,179.0,164.0,161.0,159.0,159.0,155.0,154.0,147.0,150.0

In [279]:
mortality[mortality['2005'].isnull()]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,153.0,153.0,152.0,144.0,141.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,143.0,149.0,139.0,131.0,128.0

In [280]:
mortality.fillna(0, inplace=True)
mortality.iloc[36:42]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,153.0,153.0,152.0,144.0,141.0
37,Краснодарский край,156.0,135.0,135.0,132.0,128.0,129.0,130.0,129.0,125.0,120.0
38,Астраханская область,154.0,135.0,130.0,127.0,122.0,126.0,123.0,120.0,114.0,116.0
39,Волгоградская область,157.0,147.0,138.0,136.0,135.0,137.0,138.0,137.0,131.0,133.0
40,Ростовская область,158.0,147.0,143.0,140.0,138.0,141.0,139.0,139.0,134.0,135.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,143.0,149.0,139.0,131.0,128.0

In [281]:
reduce_mem_usage(mortality)

# посмотрим остались ли какие либо выпадающие значения
mortality.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 13.8%

,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.00000,96.00000
mean,156.864578,138.906250,131.979172,130.322922,127.520836,130.708328,130.375000,128.687500,124.12500,124.62500
std,44.231121,37.061836,34.307884,34.137028,33.809986,28.236938,28.408766,28.449129,27.39122,27.59796
min,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,33.000000,33.000000,32.00000,31.00000
25%,144.500000,129.750000,123.750000,121.500000,117.750000,118.500000,119.000000,116.750000,114.00000,114.00000
50%,163.500000,144.000000,139.000000,137.000000,134.000000,134.000000,135.000000,133.000000,129.00000,129.00000
75%,181.250000,158.250000,149.000000,149.500000,146.000000,146.500000,149.000000,148.000000,141.00000,142.50000
max,246.000000,212.000000,194.000000,196.000000,186.000000,184.000000,182.000000,179.000000,174.00000,172.00000

In [282]:
# запишем полученный датафрейм в базу данных
mortality.to_sql('mortality', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:22,997 INFO sqlalchemy.engine.base.Engine DESCRIBE `mortality`
2020-09-01 22:28:22,998 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,001 INFO sqlalchemy.engine.base.Engine DESCRIBE `mortality`
2020-09-01 22:28:23,002 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,005 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:23,006 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,011 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `mortality`
2020-09-01 22:28:23,012 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,018 INFO sqlalchemy.engine.base.Engine
DROP TABLE mortality
2020-09-01 22:28:23,019 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,032 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:23,036 INFO sqlalchemy.engine.base.Engine
CREATE TABLE mortality (
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:23,037 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:23,059 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:23,062 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:23,067 INFO sqlalchemy.engine.base.Engine INSERT INTO mortality (`Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:23,069 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 161.0, '2010': 142.0, '2011': 135.0, '2012': 133.0, '2013': 130.0, '2014': 131.0, '2015': 130.0, '2016': 129.0, '2017': 124.0, '2018': 125.0}, {'Субъект': 'Центральный федеральный округ', '2005': 171.0, '2010': 152.0, '2011': 139.0, '2012': 139.0, '2013': 136.0, '2014': 136.0, '2015': 135.0, '2016': 135.0, '2017': 129.0, '2018': 129.0}, {'Субъект': 'Белгородская область', '2005': 160.0, '2010': 144.0, '2011': 141.0, '2012': 140.0, '2013': 138.0, '2014': 140.0, '2015': 139.0, '2016': 139.0, '2017': 135.0, '2018': 135.0}, {'Субъект': 'Брянская область', '2005': 198.0, '2010': 170.0, '2011': 161.0, '2012': 162.0, '2013': 159.0, '2014': 160.0, '2015': 158.0, '2016': 156.0, '2017': 153.0, '2018': 152.0}, {'Субъект': 'Владимирская область', '2005': 202.0, '2010': 180.0, '2011': 171.0, '2012': 167.0, '2013': 167.0, '2014': 166.0, '2015': 165.0, '2016': 165.0, '2017': 157.0, '2018': 160.0}, {'Субъект': 'Воронежская область', '2005': 185.0, '2010': 170.0, '2011': 159.0, '2012': 156.0, '2013': 155.0, '2014': 157.0, '2015': 153.0, '2016': 152.0, '2017': 146.0, '2018': 147.0}, {'Субъект': 'Ивановская область', '2005': 220.0, '2010': 184.0, '2011': 169.0, '2012': 169.0, '2013': 163.0, '2014': 164.0, '2015': 160.0, '2016': 161.0, '2017': 159.0, '2018': 161.0}, {'Субъект': 'Калужская область', '2005': 191.0, '2010': 165.0, '2011': 154.0, '2012': 158.0, '2013': 152.0, '2014': 153.0, '2015': 150.0, '2016': 150.0, '2017': 148.0, '2018': 149.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 183.0, '2010': 155.0, '2011': 155.0, '2012': 152.0, '2013': 146.0, '2014': 150.0, '2015': 154.0, '2016': 152.0, '2017': 133.0, '2018': 137.0}, {'Субъект': 'Чукотский автономный округ', '2005': 115.0, '2010': 138.0, '2011': 111.0, '2012': 114.0, '2013': 105.0, '2014': 109.0, '2015': 95.0, '2016': 100.0, '2017': 94.0, '2018': 110.0})
2020-09-01 22:28:23,079 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id4'></a>

  ### <center><h2>[ОБЩИЕ КОЭФФИЦИЕНТЫ РОЖДАЕМОСТИ](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>(число родившихся на 1000 человек населения)</h4></center>

In [283]:
# скачаем файл и передадим его в функцию которая его обработает
birthrate_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/02-08.docx'
birthrate = read_docx(birthrate_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(birthrate[0])
df_1 = pd.DataFrame(birthrate[1])
birthrate = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
birthrate.columns = ['Субъект','2005','2010','2011','2012','2013','2014', '2015','2016','2017','2018',
                     'Место, занимаемое в Российской Федерации 2018']
birthrate.drop([0,25,52,72,100], inplace = True)
birthrate.drop('Место, занимаемое в Российской Федерации 2018', axis=1, inplace=True)
birthrate.reset_index(inplace = True, drop = True)
population['Субъект'].tolist()

['Российская Федерация        ',
 'Центральный федеральный округ',
 'Белгородская область ',
 'Брянская область ',
 'Владимирская область ',
 'Воронежская область ',
 'Ивановская область ',
 'Калужская область ',
 'Костромская область ',
 'Курская область ',
 'Липецкая область ',
 'Московская область',
 'Орловская область ',
 'Рязанская область ',
 'Смоленская область ',
 'Тамбовская область ',
 'Тверская область ',
 'Тульская область ',
 'Ярославская область ',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия ',
 'Республика Коми  ',
 'Архангельская область ',
 'Ненецкий автономный округ       ',
 'Архангельская область без автономного округа',
 'Вологодская область ',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область ',
 'Псковская область ',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия-Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ - Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [284]:
# проверим пропущенные значения
birthrate.isna().sum()

Субъект    0
2005       2
2010       2
2011       2
2012       2
2013       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [285]:
birthrate[birthrate['2005'].isnull()]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,129.0,126.0,120.0,109.0,106.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,126.0,135.0,127.0,112.0,101.0

In [286]:
birthrate.fillna(0, inplace=True)
birthrate.iloc[36:42]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,129.0,126.0,120.0,109.0,106.0
37,Краснодарский край,102.0,122.0,122.0,130.0,131.0,135.0,135.0,132.0,120.0,115.0
38,Астраханская область,121.0,142.0,142.0,151.0,148.0,149.0,145.0,140.0,121.0,116.0
39,Волгоградская область,94.0,113.0,112.0,117.0,115.0,116.0,115.0,112.0,100.0,94.0
40,Ростовская область,91.0,109.0,109.0,117.0,117.0,121.0,121.0,116.0,103.0,97.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,126.0,135.0,127.0,112.0,101.0

In [287]:
reduce_mem_usage(birthrate)

# посмотрим остались ли какие либо выпадающие значения
birthrate.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 13.8%

,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,106.302086,129.385422,129.625000,135.625000,134.187500,137.250000,135.531250,130.781250,116.895836,110.729164
std,30.147051,38.854488,39.219021,35.904919,34.577515,27.712812,24.379425,22.441586,22.658321,21.812347
min,0.000000,0.000000,0.000000,0.000000,0.000000,91.000000,90.000000,92.000000,83.000000,76.000000
25%,90.750000,109.750000,110.000000,117.000000,116.750000,119.000000,119.000000,116.750000,103.750000,97.750000
50%,104.000000,125.000000,125.500000,132.000000,131.000000,132.500000,133.000000,128.500000,112.500000,106.000000
75%,114.250000,141.000000,141.000000,148.250000,147.000000,147.000000,144.250000,139.000000,124.000000,117.000000
max,251.000000,299.000000,290.000000,267.000000,261.000000,253.000000,238.000000,232.000000,220.000000,207.000000

In [288]:
# запишем полученный датафрейм в базу данных
birthrate.to_sql('birthrate', engine, if_exists='replace', index=True, chunksize=1000)

2020-09-01 22:28:25,465 INFO sqlalchemy.engine.base.Engine DESCRIBE `birthrate`
2020-09-01 22:28:25,466 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,470 INFO sqlalchemy.engine.base.Engine DESCRIBE `birthrate`
2020-09-01 22:28:25,471 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,475 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:25,476 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,480 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `birthrate`
2020-09-01 22:28:25,481 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,485 INFO sqlalchemy.engine.base.Engine
DROP TABLE birthrate
2020-09-01 22:28:25,485 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,498 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:25,501 INFO sqlalchemy.engine.base.Engine
CREATE TABLE birthrate (
	`index` BIGINT,
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:25,502 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,530 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:25,531 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_birthrate_index ON birthrate (`index`)
2020-09-01 22:28:25,532 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:25,552 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:25,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:25,559 INFO sqlalchemy.engine.base.Engine INSERT INTO birthrate (`index`, `Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(index)s, %(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:25,561 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'Субъект': 'Российская Федерация', '2005': 102.0, '2010': 125.0, '2011': 126.0, '2012': 133.0, '2013': 132.0, '2014': 133.0, '2015': 133.0, '2016': 129.0, '2017': 115.0, '2018': 109.0}, {'index': 1, 'Субъект': 'Центральный федеральный округ', '2005': 87.0, '2010': 107.0, '2011': 107.0, '2012': 114.0, '2013': 113.0, '2014': 114.0, '2015': 117.0, '2016': 116.0, '2017': 104.0, '2018': 99.0}, {'index': 2, 'Субъект': 'Белгородская область', '2005': 89.0, '2010': 109.0, '2011': 111.0, '2012': 116.0, '2013': 116.0, '2014': 115.0, '2015': 115.0, '2016': 111.0, '2017': 97.0, '2018': 92.0}, {'index': 3, 'Субъект': 'Брянская область', '2005': 90.0, '2010': 107.0, '2011': 109.0, '2012': 114.0, '2013': 111.0, '2014': 110.0, '2015': 114.0, '2016': 109.0, '2017': 95.0, '2018': 92.0}, {'index': 4, 'Субъект': 'Владимирская область', '2005': 91.0, '2010': 108.0, '2011': 109.0, '2012': 115.0, '2013': 111.0, '2014': 112.0, '2015': 116.0, '2016': 112.0, '2017': 97.0, '2018': 93.0}, {'index': 5, 'Субъект': 'Воронежская область', '2005': 82.0, '2010': 102.0, '2011': 102.0, '2012': 109.0, '2013': 107.0, '2014': 109.0, '2015': 111.0, '2016': 107.0, '2017': 96.0, '2018': 92.0}, {'index': 6, 'Субъект': 'Ивановская область', '2005': 87.0, '2010': 104.0, '2011': 104.0, '2012': 111.0, '2013': 112.0, '2014': 111.0, '2015': 114.0, '2016': 109.0, '2017': 97.0, '2018': 90.0}, {'index': 7, 'Субъект': 'Калужская область', '2005': 88.0, '2010': 110.0, '2011': 109.0, '2012': 117.0, '2013': 117.0, '2014': 118.0, '2015': 126.0, '2016': 121.0, '2017': 108.0, '2018': 102.0}  ... displaying 10 of 96 total bound parameter sets ...  {'index': 94, 'Субъект': 'Еврейская автономная область', '2005': 118.0, '2010': 136.0, '2011': 142.0, '2012': 141.0, '2013': 137.0, '2014': 139.0, '2015': 140.0, '2016': 134.0, '2017': 117.0, '2018': 117.0}, {'index': 95, 'Субъект': 'Чукотский автономный округ', '2005': 153.0, '2010': 147.0, '2011': 136.0, '2012': 140.0, '2013': 131.0, '2014': 137.0, '2015': 136.0, '2016': 136.0, '2017': 131.0, '2018': 126.0})
2020-09-01 22:28:25,573 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id5'></a>

  ### <center><h2>[ОБЩИЕ КОЭФФИЦИЕНТЫ БРАЧНОСТИ](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>( на 1000 человек населения)</h4></center>

In [289]:
# скачаем файл и передадим его в функцию которая его обработает

marriage_rate_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/02-16.docx'
marriage_rate = read_docx(marriage_rate_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(marriage_rate[0])
df_1 = pd.DataFrame(marriage_rate[1])
marriage_rate = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
marriage_rate.columns = ['Субъект','2005','2010','2011','2012','2013','2014', '2015','2016','2017','2018']
marriage_rate.drop([0,25,52,72,100], inplace = True)
marriage_rate.reset_index(inplace = True, drop = True)
marriage_rate['Субъект'].tolist()

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область',
 'Владимирская область',
 'Воронежская область',
 'Ивановская область',
 'Калужская область',
 'Костромская область',
 'Курская область',
 'Липецкая область',
 'Московская область',
 'Орловская область',
 'Рязанская область',
 'Смоленская область',
 'Тамбовская область',
 'Тверская область',
 'Тульская область',
 'Ярославская область',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия',
 'Республика Коми',
 'Архангельская область',
 'Ненецкий автономный округ',
 'Архангельская область без автономного округа',
 'Вологодская область',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область',
 'Псковская область',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия – Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ – Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ1)',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ1)',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [290]:
# проверим пропущенные значения
marriage_rate.isna().sum()

Субъект    0
2005       2
2010       2
2011       2
2012       2
2013       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [291]:
marriage_rate[marriage_rate['2005'].isnull()]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,87.0,92.0,71.0,75.0,61.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,110.0,115.0,95.0,100.0,76.0

In [292]:
marriage_rate.fillna(0, inplace=True)
marriage_rate.iloc[36:42]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,87.0,92.0,71.0,75.0,61.0
37,Краснодарский край,75.0,86.0,96.0,86.0,90.0,89.0,84.0,72.0,80.0,69.0
38,Астраханская область,77.0,87.0,91.0,86.0,85.0,82.0,74.0,66.0,66.0,56.0
39,Волгоградская область,70.0,77.0,83.0,79.0,77.0,75.0,70.0,60.0,65.0,52.0
40,Ростовская область,71.0,80.0,89.0,78.0,82.0,81.0,78.0,63.0,70.0,59.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,110.0,115.0,95.0,100.0,76.0

In [293]:
reduce_mem_usage(marriage_rate)

# посмотрим остались ли какие либо выпадающие значения
marriage_rate.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 13.8%

,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,73.239586,84.312500,90.385414,82.937500,82.864586,82.468750,77.520836,65.656250,70.062500,59.479168
std,13.328041,15.069182,16.161921,15.448258,15.503900,10.163871,10.350672,9.146559,10.018732,8.039351
min,0.000000,0.000000,0.000000,0.000000,0.000000,48.000000,42.000000,38.000000,41.000000,38.000000
25%,70.000000,80.000000,86.000000,78.750000,80.000000,78.000000,73.750000,60.750000,65.000000,55.000000
50%,74.000000,85.000000,93.000000,84.000000,84.000000,83.000000,78.000000,65.500000,71.000000,60.000000
75%,79.000000,90.000000,98.000000,90.000000,91.000000,88.250000,83.000000,71.250000,76.000000,64.250000
max,97.000000,113.000000,120.000000,109.000000,108.000000,111.000000,115.000000,96.000000,100.000000,82.000000

In [294]:
# запишем полученный датафрейм в базу данных
marriage_rate.to_sql('marriage_rate', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:27,812 INFO sqlalchemy.engine.base.Engine DESCRIBE `marriage_rate`
2020-09-01 22:28:27,814 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,818 INFO sqlalchemy.engine.base.Engine DESCRIBE `marriage_rate`
2020-09-01 22:28:27,819 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,824 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:27,827 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,832 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `marriage_rate`
2020-09-01 22:28:27,832 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,838 INFO sqlalchemy.engine.base.Engine
DROP TABLE marriage_rate
2020-09-01 22:28:27,839 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,863 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:27,869 INFO sqlalchemy.engine.base.Engine
CREATE TABLE marriage_rate (
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:27,870 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:27,905 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:27,909 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:27,914 INFO sqlalchemy.engine.base.Engine INSERT INTO marriage_rate (`Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:27,915 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 74.0, '2010': 85.0, '2011': 92.0, '2012': 85.0, '2013': 85.0, '2014': 84.0, '2015': 79.0, '2016': 67.0, '2017': 71.0, '2018': 61.0}, {'Субъект': 'Центральный федеральный округ', '2005': 74.0, '2010': 81.0, '2011': 88.0, '2012': 80.0, '2013': 82.0, '2014': 83.0, '2015': 80.0, '2016': 67.0, '2017': 72.0, '2018': 61.0}, {'Субъект': 'Белгородская область', '2005': 80.0, '2010': 85.0, '2011': 98.0, '2012': 81.0, '2013': 87.0, '2014': 85.0, '2015': 83.0, '2016': 61.0, '2017': 73.0, '2018': 67.0}, {'Субъект': 'Брянская область', '2005': 74.0, '2010': 80.0, '2011': 93.0, '2012': 79.0, '2013': 80.0, '2014': 83.0, '2015': 79.0, '2016': 62.0, '2017': 71.0, '2018': 60.0}, {'Субъект': 'Владимирская область', '2005': 72.0, '2010': 82.0, '2011': 89.0, '2012': 81.0, '2013': 81.0, '2014': 82.0, '2015': 76.0, '2016': 64.0, '2017': 66.0, '2018': 59.0}, {'Субъект': 'Воронежская область', '2005': 70.0, '2010': 80.0, '2011': 90.0, '2012': 76.0, '2013': 81.0, '2014': 80.0, '2015': 78.0, '2016': 62.0, '2017': 73.0, '2018': 62.0}, {'Субъект': 'Ивановская область', '2005': 65.0, '2010': 74.0, '2011': 80.0, '2012': 78.0, '2013': 80.0, '2014': 79.0, '2015': 74.0, '2016': 64.0, '2017': 65.0, '2018': 56.0}, {'Субъект': 'Калужская область', '2005': 74.0, '2010': 82.0, '2011': 86.0, '2012': 79.0, '2013': 83.0, '2014': 84.0, '2015': 82.0, '2016': 69.0, '2017': 75.0, '2018': 65.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 78.0, '2010': 88.0, '2011': 86.0, '2012': 85.0, '2013': 83.0, '2014': 79.0, '2015': 80.0, '2016': 74.0, '2017': 77.0, '2018': 60.0}, {'Субъект': 'Чукотский автономный округ', '2005': 97.0, '2010': 91.0, '2011': 79.0, '2012': 87.0, '2013': 84.0, '2014': 80.0, '2015': 83.0, '2016': 71.0, '2017': 84.0, '2018': 72.0})
2020-09-01 22:28:27,927 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id6'></a>

  ### <center><h2>[ОБЩИЕ КОЭФФИЦИЕНТЫ РАЗВОДИМОСТИ](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>( на 1000 человек населения)</h4></center>

In [295]:
# скачаем файл и передадим его в функцию которая его обработает

divorce_rate_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/02-17.docx'
divorce_rate = read_docx(divorce_rate_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(divorce_rate[0])
df_1 = pd.DataFrame(divorce_rate[1])
divorce_rate = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
divorce_rate.columns = ['Субъект','2005','2010','2011','2012','2013','2014', '2015','2016','2017','2018']
divorce_rate.drop([0,25,52,72,100], inplace = True)
divorce_rate.reset_index(inplace = True, drop = True)
divorce_rate['Субъект'].tolist()

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область',
 'Владимирская область',
 'Воронежская область',
 'Ивановская область',
 'Калужская область',
 'Костромская область',
 'Курская область',
 'Липецкая область',
 'Московская область',
 'Орловская область',
 'Рязанская область',
 'Смоленская область',
 'Тамбовская область',
 'Тверская область',
 'Тульская область',
 'Ярославская область',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия',
 'Республика Коми',
 'Архангельская область',
 'Ненецкий автономный округ',
 'Архангельская область без автономного округа',
 'Вологодская область',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область',
 'Псковская область',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия – Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ – Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ1)',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ1)',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [296]:
# проверим пропущенные значения
divorce_rate.isna().sum()

Субъект    0
2005       2
2010       2
2011       2
2012       2
2013       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [297]:
divorce_rate[divorce_rate['2005'].isnull()]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,27.0,30.0,33.0,35.0,36.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,28.0,40.0,45.0,45.0,44.0

In [298]:
divorce_rate.fillna(0, inplace=True)
divorce_rate.iloc[36:42]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,27.0,30.0,33.0,35.0,36.0
37,Краснодарский край,43.0,45.0,47.0,46.0,50.0,50.0,46.0,46.0,45.0,38.0
38,Астраханская область,41.0,50.0,52.0,49.0,52.0,51.0,43.0,42.0,41.0,41.0
39,Волгоградская область,40.0,42.0,46.0,44.0,48.0,47.0,41.0,41.0,41.0,39.0
40,Ростовская область,42.0,47.0,48.0,39.0,42.0,48.0,43.0,43.0,43.0,41.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,28.0,40.0,45.0,45.0,44.0

In [299]:
reduce_mem_usage(divorce_rate)

# посмотрим остались ли какие либо выпадающие значения
divorce_rate.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 13.8%

,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,40.947918,44.677082,46.979168,45.343750,46.718750,48.541668,42.208332,42.010418,41.906250,40.156250
std,12.737321,12.435513,12.821016,12.354269,12.657183,11.106107,9.265575,9.069899,9.028701,8.675832
min,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,8.000000,9.000000,8.000000,5.000000
25%,37.750000,42.000000,44.000000,43.000000,43.750000,46.000000,40.000000,39.000000,40.000000,38.000000
50%,42.000000,46.000000,48.000000,47.000000,48.500000,50.000000,43.000000,43.000000,43.000000,41.000000
75%,47.000000,50.000000,52.000000,51.000000,54.000000,55.000000,46.250000,46.000000,46.250000,45.000000
max,71.000000,71.000000,71.000000,69.000000,70.000000,69.000000,62.000000,64.000000,60.000000,56.000000

In [300]:
# запишем полученный датафрейм в базу данных
divorce_rate.to_sql('divorce_rate', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:30,182 INFO sqlalchemy.engine.base.Engine DESCRIBE `divorce_rate`
2020-09-01 22:28:30,182 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,187 INFO sqlalchemy.engine.base.Engine DESCRIBE `divorce_rate`
2020-09-01 22:28:30,188 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,192 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:30,193 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,197 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `divorce_rate`
2020-09-01 22:28:30,197 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,202 INFO sqlalchemy.engine.base.Engine
DROP TABLE divorce_rate
2020-09-01 22:28:30,203 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,217 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:30,222 INFO sqlalchemy.engine.base.Engine
CREATE TABLE divorce_rate (
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:30,223 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:30,249 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:30,251 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:30,253 INFO sqlalchemy.engine.base.Engine INSERT INTO divorce_rate (`Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:30,254 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 42.0, '2010': 45.0, '2011': 47.0, '2012': 45.0, '2013': 47.0, '2014': 47.0, '2015': 42.0, '2016': 41.0, '2017': 42.0, '2018': 40.0}, {'Субъект': 'Центральный федеральный округ', '2005': 43.0, '2010': 44.0, '2011': 45.0, '2012': 43.0, '2013': 45.0, '2014': 46.0, '2015': 41.0, '2016': 41.0, '2017': 42.0, '2018': 39.0}, {'Субъект': 'Белгородская область', '2005': 40.0, '2010': 43.0, '2011': 45.0, '2012': 45.0, '2013': 50.0, '2014': 50.0, '2015': 44.0, '2016': 44.0, '2017': 44.0, '2018': 44.0}, {'Субъект': 'Брянская область', '2005': 43.0, '2010': 49.0, '2011': 52.0, '2012': 53.0, '2013': 47.0, '2014': 58.0, '2015': 48.0, '2016': 47.0, '2017': 45.0, '2018': 45.0}, {'Субъект': 'Владимирская область', '2005': 41.0, '2010': 44.0, '2011': 47.0, '2012': 45.0, '2013': 49.0, '2014': 48.0, '2015': 42.0, '2016': 40.0, '2017': 42.0, '2018': 40.0}, {'Субъект': 'Воронежская область', '2005': 44.0, '2010': 47.0, '2011': 50.0, '2012': 47.0, '2013': 50.0, '2014': 48.0, '2015': 41.0, '2016': 41.0, '2017': 41.0, '2018': 41.0}, {'Субъект': 'Ивановская область', '2005': 42.0, '2010': 42.0, '2011': 45.0, '2012': 44.0, '2013': 47.0, '2014': 48.0, '2015': 41.0, '2016': 41.0, '2017': 40.0, '2018': 39.0}, {'Субъект': 'Калужская область', '2005': 44.0, '2010': 47.0, '2011': 50.0, '2012': 49.0, '2013': 44.0, '2014': 50.0, '2015': 44.0, '2016': 45.0, '2017': 46.0, '2018': 44.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 46.0, '2010': 53.0, '2011': 51.0, '2012': 50.0, '2013': 54.0, '2014': 58.0, '2015': 49.0, '2016': 47.0, '2017': 49.0, '2018': 48.0}, {'Субъект': 'Чукотский автономный округ', '2005': 71.0, '2010': 68.0, '2011': 62.0, '2012': 60.0, '2013': 58.0, '2014': 60.0, '2015': 56.0, '2016': 52.0, '2017': 56.0, '2018': 48.0})
2020-09-01 22:28:30,263 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id7'></a>

  ### <center><h2>[КОЭФФИЦИЕНТЫ МИГРАЦИОННОГО ПРИРОСТА)](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>(  на 10 000 человек населения)</h4></center>

In [301]:
# скачаем файл и передадим его в функцию которая его обработает

migration_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/02-19.docx'
migration = read_docx(migration_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(migration[0])
df_1 = pd.DataFrame(migration[1])
migration = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
migration.columns = ['Субъект','2005','2010','2011','2012','2013','2014', '2015','2016','2017','2018']
migration.drop([0,25,52,72,100], inplace = True)
migration.reset_index(inplace = True, drop = True)
migration['Субъект'].tolist()

['Российская Федерация',
 'Центральный федеральный округ',
 'Белгородская область',
 'Брянская область',
 'Владимирская область',
 'Воронежская область',
 'Ивановская область',
 'Калужская область',
 'Костромская область',
 'Курская область',
 'Липецкая область',
 'Московская область',
 'Орловская область',
 'Рязанская область',
 'Смоленская область',
 'Тамбовская область',
 'Тверская область',
 'Тульская область',
 'Ярославская область',
 'г. Москва',
 'Северо-Западный федеральный округ',
 'Республика Карелия',
 'Республика Коми',
 'Архангельская область',
 'Ненецкий автономный округ',
 'Архангельская область без автономного округа',
 'Вологодская область',
 'Калининградская область',
 'Ленинградская область',
 'Мурманская область',
 'Новгородская область',
 'Псковская область',
 'г. Санкт-Петербург',
 'Южный федеральный округ',
 'Республика Адыгея',
 'Республика Калмыкия',
 'Республика Крым',
 'Краснодарский край',
 'Астраханская область',
 'Волгоградская область',
 'Ростовская область',
 'г. Севастополь',
 'Северо-Кавказский федеральный округ',
 'Республика Дагестан',
 'Республика Ингушетия',
 'Кабардино-Балкарская Республика',
 'Карачаево-Черкесская Республика',
 'Республика Северная Осетия – Алания',
 'Чеченская Республика',
 'Ставропольский край',
 'Приволжский федеральный округ',
 'Республика Башкортостан',
 'Республика Марий Эл',
 'Республика Мордовия',
 'Республика Татарстан',
 'Удмуртская Республика',
 'Чувашская Республика',
 'Пермский край',
 'Кировская область',
 'Нижегородская область',
 'Оренбургская область',
 'Пензенская область',
 'Самарская область',
 'Саратовская область',
 'Ульяновская область',
 'Уральский федеральный округ',
 'Курганская область',
 'Свердловская область',
 'Тюменская область',
 'Ханты-Мансийский автономный округ – Югра',
 'Ямало-Ненецкий автономный округ',
 'Тюменская область без автономных округов',
 'Челябинская область',
 'Сибирский федеральный округ',
 'Республика Алтай',
 'Республика Тыва',
 'Республика Хакасия',
 'Алтайский край',
 'Красноярский край',
 'Иркутская область',
 'Кемеровская область',
 'Новосибирская область',
 'Омская область',
 'Томская область',
 'Дальневосточный федеральный округ',
 'Республика Бурятия',
 'Республика Саха (Якутия)',
 'Забайкальский край',
 'Камчатский край',
 'Приморский край',
 'Хабаровский край',
 'Амурская область',
 'Магаданская область',
 'Сахалинская область',
 'Еврейская автономная область',
 'Чукотский автономный округ']

In [302]:
# проверим пропущенные значения
migration.isna().sum()

Субъект    0
2005       2
2010       2
2011       2
2012       2
2013       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [303]:
migration[migration['2005'].isnull()]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,NaN,NaN,NaN,NaN,NaN,…,86.0,58.0,43.0,25.0
41,г. Севастополь,NaN,NaN,NaN,NaN,NaN,…,439.0,308.0,202.0,176.0

In [304]:
migration.fillna(0, inplace=True)
migration.iloc[36:42]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0.0,0.0,0.0,0.0,0.0,…,86.0,58.0,43.0,25.0
37,Краснодарский край,70.0,44.0,117.0,87.0,135.0,84,105.0,101.0,63.0,85.0
38,Астраханская область,-6.0,-20.0,39.0,-36.0,2.0,24,-49.0,-17.0,-20.0,-34.0
39,Волгоградская область,3.0,8.0,-22.0,-27.0,-34.0,-25,-22.0,-18.0,-23.0,-15.0
40,Ростовская область,21.0,16.0,-1.0,9.0,-3.0,12,4.0,12.0,5.0,-6.0
41,г. Севастополь,0.0,0.0,0.0,0.0,0.0,…,439.0,308.0,202.0,176.0

In [305]:
reduce_mem_usage(migration)

# посмотрим остались ли какие либо выпадающие значения
migration.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by -19.9%

,2005,2010,2011,2012,2013,2015,2016,2017,2018
count,96.00000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,-18.81250,-14.281250,2.072917,-6.500000,-10.458333,-4.427083,2.468750,-7.000000,-13.197917
std,86.34166,57.875504,61.720985,59.158306,61.887653,69.914360,56.048275,53.065998,57.605675
min,-499.00000,-174.000000,-125.000000,-138.000000,-150.000000,-223.000000,-103.000000,-132.000000,-187.000000
25%,-49.50000,-46.000000,-33.250000,-36.250000,-38.000000,-30.750000,-29.250000,-31.000000,-37.250000
50%,-13.50000,-17.000000,0.000000,-5.000000,-5.000000,-9.500000,-5.500000,-17.500000,-23.000000
75%,21.00000,10.250000,36.000000,19.500000,13.500000,16.250000,21.750000,12.500000,-1.000000
max,216.00000,161.000000,160.000000,157.000000,197.000000,439.000000,308.000000,202.000000,239.000000

In [306]:
# запишем полученный датафрейм в базу данных
migration.to_sql('migration', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:32,407 INFO sqlalchemy.engine.base.Engine DESCRIBE `migration`
2020-09-01 22:28:32,409 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,412 INFO sqlalchemy.engine.base.Engine DESCRIBE `migration`
2020-09-01 22:28:32,412 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,416 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:32,417 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,421 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `migration`
2020-09-01 22:28:32,422 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,427 INFO sqlalchemy.engine.base.Engine
DROP TABLE migration
2020-09-01 22:28:32,427 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,441 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:32,456 INFO sqlalchemy.engine.base.Engine
CREATE TABLE migration (
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` TEXT,
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:32,457 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:32,483 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:32,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:32,489 INFO sqlalchemy.engine.base.Engine INSERT INTO migration (`Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:32,490 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 20.0, '2010': 19.0, '2011': 22.0, '2012': 21.0, '2013': 21.0, '2014': '19', '2015': 17.0, '2016': 18.0, '2017': 14.0, '2018': 9.0}, {'Субъект': 'Центральный федеральный округ', '2005': 101.0, '2010': 74.0, '2011': 56.0, '2012': 62.0, '2013': 60.0, '2014': '56', '2015': 57.0, '2016': 45.0, '2017': 51.0, '2018': 47.0}, {'Субъект': 'Белгородская область', '2005': 71.0, '2010': 39.0, '2011': 54.0, '2012': 56.0, '2013': 43.0, '2014': '49', '2015': 38.0, '2016': 46.0, '2017': 18.0, '2018': 27.0}, {'Субъект': 'Брянская область', '2005': -15.0, '2010': -24.0, '2011': -34.0, '2012': -37.0, '2013': -40.0, '2014': '-28', '2015': -15.0, '2016': 4.0, '2017': -20.0, '2018': -30.0}, {'Субъект': 'Владимирская область', '2005': 35.0, '2010': 13.0, '2011': -2.0, '2012': -20.0, '2013': -4.0, '2014': '-1', '2015': -11.0, '2016': -2.0, '2017': -21.0, '2018': -24.0}, {'Субъект': 'Воронежская область', '2005': 85.0, '2010': 68.0, '2011': 42.0, '2012': 43.0, '2013': 42.0, '2014': '57', '2015': 52.0, '2016': 54.0, '2017': 43.0, '2018': 29.0}, {'Субъект': 'Ивановская область', '2005': -1.0, '2010': 8.0, '2011': 8.0, '2012': 10.0, '2013': -5.0, '2014': '-7', '2015': -22.0, '2016': -13.0, '2017': -22.0, '2018': -33.0}, {'Субъект': 'Калужская область', '2005': 61.0, '2010': -2.0, '2011': 35.0, '2012': 14.0, '2013': 24.0, '2014': '94', '2015': 17.0, '2016': 77.0, '2017': 16.0, '2018': 19.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': -159.0, '2010': -49.0, '2011': -95.0, '2012': -89.0, '2013': -125.0, '2014': -108.0, '2015': -120.0, '2016': -97.0, '2017': -119.0, '2018': -111.0}, {'Субъект': 'Чукотский автономный округ', '2005': 73.0, '2010': -174.0, '2011': 102.0, '2012': -66.0, '2013': -70.0, '2014': -30.0, '2015': -117.0, '2016': -103.0, '2017': -132.0, '2018': 48.0})
2020-09-01 22:28:32,497 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id8'></a>

  ### <center><h2>[РАСХОДЫ КОНСОЛИДИРОВАННЫХ БЮДЖЕТОВ СУБЪЕКТОВ РОССИЙСКОЙ ФЕДЕРАЦИИ НА ЗДРАВООХРАНЕНИЕ)](#section_id2)   </h2> </center> 
                                                                                              
### <center><h4>(миллионов рублей)</h4></center>

In [307]:
budgeting = pd.read_excel("https://rosstat.gov.ru/bgd/regl/b19_34/IssWWW.exe/Stg/r_7.xls")
budgeting = budgeting.drop([0,1 , 2, 96])
budgeting.columns = ['Субъект','2013','2014','2015','2016','2017','2018']
budgeting.reset_index(inplace = True, drop = True)
budgeting

,Субъект,2013,2014,2015,2016,2017,2018
0,Центральный федеральный округ,NaN,NaN,NaN,NaN,NaN,NaN
1,Белгородская область,9979.057267,9718.915135,10552.197413,10154.478248,5931.359101,7824.680619
2,Брянская область,5718.159801,6627.482140,6825.480518,2299.673267,2850.557614,3959.374888
3,Владимирская область,8591.960727,8355.631947,8375.279328,8453.836968,5052.233141,6411.801821
4,Воронежская область,15818.075533,16192.858049,17124.904842,16460.749301,7698.299732,10249.083667
...,...,...,...,...,...,...,...
88,Амурская область,8098.232255,8454.750748,7292.900617,2292.428871,2949.882035,4457.616907
89,Магаданская область,5431.758454,5242.134132,5465.583009,5796.575863,3944.299949,5279.829166
90,Сахалинская область,12339.637255,15854.174164,15987.605950,18197.011661,12085.079900,14620.308127
91,Еврейская автономная область,2862.944789,1835.891068,2071.107986,1852.173194,580.727776,920.345344
92,Чукотский автономный округ,2458.764264,2016.086190,2149.442636,2370.978079,2438.107668,2362.120714

#### Видим, что в федеральных округах значения отсутствуют, поэтому приведем таблицу общей форме.

In [308]:
def summ(a,b,b2,c,df):
    '''функция суммирует значения по федеральным округам и записывает их в таблицу.
       a - индекс в таблице значения федерального округа
       b - индекс региона от которого необходимо начать суммирование
       b2- индекс региона до которого необходимо просуммировать
       c - название федерального округа
       df- dataframe 
    '''
    df.iloc[a]  = df.iloc[b:b2].sum() 
    df.iloc[a,0] = c
    return df

In [309]:
summ(0,1,19,'Центральный федеральный округ', budgeting)
summ(19,20,31,'Северо-Западный федеральный округ', budgeting)
summ(31,32,40,'Южный федеральный округ', budgeting)
summ(40,41,48,'Северо-Кавказский федеральный округ', budgeting)
summ(48,49,63,'Приволжский федеральный округ', budgeting)
summ(63,64,70,'Уральский федеральный округ', budgeting)
summ(70,71,81,'Сибирский федеральный округ', budgeting)
summ(81,82,93,'Дальневосточный федеральный округ', budgeting)

,Субъект,2013,2014,2015,2016,2017,2018
0,Центральный федеральный округ,402245.495687,404904.594893,392331.412962,364948.909760,316524.565608,343671.695146
1,Белгородская область,9979.057267,9718.915135,10552.197413,10154.478248,5931.359101,7824.680619
2,Брянская область,5718.159801,6627.482140,6825.480518,2299.673267,2850.557614,3959.374888
3,Владимирская область,8591.960727,8355.631947,8375.279328,8453.836968,5052.233141,6411.801821
4,Воронежская область,15818.075533,16192.858049,17124.904842,16460.749301,7698.299732,10249.083667
...,...,...,...,...,...,...,...
88,Амурская область,8098.232255,8454.750748,7292.900617,2292.428871,2949.882035,4457.616907
89,Магаданская область,5431.758454,5242.134132,5465.583009,5796.575863,3944.299949,5279.829166
90,Сахалинская область,12339.637255,15854.174164,15987.605950,18197.011661,12085.079900,14620.308127
91,Еврейская автономная область,2862.944789,1835.891068,2071.107986,1852.173194,580.727776,920.345344
92,Чукотский автономный округ,2458.764264,2016.086190,2149.442636,2370.978079,2438.107668,2362.120714

In [310]:
# проверим пропущенные значения
budgeting.isna().sum()

Субъект    0
2013       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [311]:
budgeting[budgeting['2013'].isnull()]

,Субъект,2013,2014,2015,2016,2017,2018
34,Республика Крым,NaN,16588.241410,17458.8,17092.451577,13794.050926,13898.326246
39,г. Севастополь,NaN,2802.041503,3817.8,3978.907329,2682.477983,3751.507609

In [312]:
budgeting.fillna(0, inplace=True)

reduce_mem_usage(budgeting)

# посмотрим остались ли какие либо выпадающие значения
budgeting.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by -7.9%

,2013,2014,2015,2016,2017,2018
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000
mean,26899.607422,28303.849609,29155.843750,27551.744141,18219.283203,20445.519531
std,55030.984375,56165.613281,55562.476562,53428.875000,43107.500000,45874.304688
min,0.000000,1801.167114,2071.107910,1641.283081,580.727783,636.048828
25%,5572.672363,6006.387207,6584.199707,5478.138672,2632.020020,3338.364502
50%,9432.289062,9751.922852,10552.197266,9656.916992,4656.175293,5964.617188
75%,19178.113281,19520.853516,20190.552734,21079.556641,10607.386719,13079.920898
max,402245.500000,404904.593750,392331.406250,364948.906250,316524.562500,343671.687500

In [313]:
# запишем полученный датафрейм в базу данных
budgeting.to_sql('budgeting', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:35,613 INFO sqlalchemy.engine.base.Engine DESCRIBE `budgeting`
2020-09-01 22:28:35,615 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,619 INFO sqlalchemy.engine.base.Engine DESCRIBE `budgeting`
2020-09-01 22:28:35,620 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,623 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:35,624 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,626 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `budgeting`
2020-09-01 22:28:35,627 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,631 INFO sqlalchemy.engine.base.Engine
DROP TABLE budgeting
2020-09-01 22:28:35,633 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,645 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:35,648 INFO sqlalchemy.engine.base.Engine
CREATE TABLE budgeting (
	`Субъект` TEXT,
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:35,649 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:35,672 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:35,674 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:35,676 INFO sqlalchemy.engine.base.Engine INSERT INTO budgeting (`Субъект`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:35,677 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Центральный федеральный округ', '2013': 402245.5, '2014': 404904.59375, '2015': 392331.40625, '2016': 364948.90625, '2017': 316524.5625, '2018': 343671.6875}, {'Субъект': 'Белгородская область', '2013': 9979.0576171875, '2014': 9718.9150390625, '2015': 10552.197265625, '2016': 10154.478515625, '2017': 5931.35888671875, '2018': 7824.6806640625}, {'Субъект': 'Брянская область', '2013': 5718.15966796875, '2014': 6627.48193359375, '2015': 6825.48046875, '2016': 2299.67333984375, '2017': 2850.5576171875, '2018': 3959.375}, {'Субъект': 'Владимирская область', '2013': 8591.9609375, '2014': 8355.6318359375, '2015': 8375.279296875, '2016': 8453.8369140625, '2017': 5052.23291015625, '2018': 6411.8017578125}, {'Субъект': 'Воронежская область', '2013': 15818.0751953125, '2014': 16192.8583984375, '2015': 17124.904296875, '2016': 16460.75, '2017': 7698.2998046875, '2018': 10249.083984375}, {'Субъект': 'Ивановская область', '2013': 4739.58056640625, '2014': 5711.0302734375, '2015': 5795.32958984375, '2016': 1678.98388671875, '2017': 1538.6767578125, '2018': 2723.166259765625}, {'Субъект': 'Калужская область', '2013': 7224.2451171875, '2014': 7745.10302734375, '2015': 9141.3505859375, '2016': 4328.05810546875, '2017': 4096.2744140625, '2018': 5860.67724609375}, {'Субъект': 'Костромская область', '2013': 4501.9609375, '2014': 4104.8681640625, '2015': 4069.9306640625, '2016': 4005.846923828125, '2017': 1718.45361328125, '2018': 2067.289306640625}  ... displaying 10 of 93 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2013': 2862.94482421875, '2014': 1835.89111328125, '2015': 2071.10791015625, '2016': 1852.1732177734375, '2017': 580.727783203125, '2018': 920.3453369140625}, {'Субъект': 'Чукотский автономный округ', '2013': 2458.76416015625, '2014': 2016.086181640625, '2015': 2149.442626953125, '2016': 2370.97802734375, '2017': 2438.107666015625, '2018': 2362.12060546875})
2020-09-01 22:28:35,684 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id9'></a>

  ### <center><h2>[СРЕДНЕМЕСЯЧНАЯ НОМИНАЛЬНАЯ НАЧИСЛЕННАЯ ЗАРАБОТНАЯ ПЛАТА РАБОТНИКОВ ЗДРАВООХРАНЕНИЯ](#section_id2)</h2> </center> 
                                                                                              
### <center><h4>(рублей)</h4></center>

In [314]:
average_monthly_wage = pd.read_excel("https://rosstat.gov.ru/bgd/regl/b19_34/IssWWW.exe/Stg/r_4.xls",
                                     sheet_name='Т.4.2.')
average_monthly_wage = average_monthly_wage.drop([0,99, 100])
average_monthly_wage.columns = ['Субъект','2005','2010','2013','2014','2015','2016','2017','2018']
average_monthly_wage.reset_index(inplace = True, drop = True)
average_monthly_wage

,Субъект,2005,2010,2013,2014,2015,2016,2017,2018
0,Российская Федерация,5927,15794.0,24570.0,27213.0,28318.0,29882.0,31980.0,40027.0
1,Центральный федеральный округ,6673,20994.0,30749.0,33330.0,34730.0,36864.0,39650.0,50269.0
2,Белгородская область,4026,10198.0,17594.0,20177.0,22666.0,23988.0,25202.0,30150.0
3,Брянская область,3722,8705.0,15726.0,17854.0,18044.0,19343.0,20856.0,25499.0
4,Владимирская область,4969,12577.0,18768.0,21003.0,21697.0,22924.0,24921.0,30049.0
...,...,...,...,...,...,...,...,...,...
93,Амурская область,6646,15602.0,22406.0,27899.0,27936.0,27522.0,29532.0,40020.0
94,Магаданская область,10133,22811.0,43702.0,49713.0,52205.0,52646.0,57496.0,75977.0
95,Сахалинская область,9181,27400.0,40695.0,45993.0,48695.0,52779.0,57076.0,69272.0
96,Еврейская автономная область,6515,14290.0,23174.0,25736.0,27624.0,27706.0,29031.0,36191.0
97,Чукотский автономный округ,17573,35739.0,54559.0,62086.0,62851.0,71017.0,81746.0,93942.0

In [315]:
average_monthly_wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  98 non-null     object
 1   2005     94 non-null     object
 2   2010     94 non-null     float64
 3   2013     94 non-null     float64
 4   2014     94 non-null     float64
 5   2015     96 non-null     float64
 6   2016     96 non-null     float64
 7   2017     96 non-null     float64
 8   2018     96 non-null     float64
dtypes: float64(7), object(2)
memory usage: 7.0+ KB

In [316]:
# проверим пропущенные значения
average_monthly_wage.isna().sum()

Субъект    0
2005       4
2010       4
2013       4
2014       4
2015       2
2016       2
2017       2
2018       2
dtype: int64

In [317]:
average_monthly_wage[average_monthly_wage['2010'].isnull()]

            Субъект 2005  2010  2013  2014     2015     2016     2017     2018
24     в том числе:  NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN
37  Республика Крым  NaN   NaN   NaN   NaN  22263.0  23647.0  25167.0  29705.0
42   г. Севастополь  NaN   NaN   NaN   NaN  21008.0  23027.0  27129.0  33595.0
70     в том числе:  NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN

In [318]:
# удалим пустые строки 
average_monthly_wage = average_monthly_wage.drop([24, 70])
average_monthly_wage.reset_index(inplace = True, drop = True)

In [319]:
average_monthly_wage.fillna(0, inplace=True)
average_monthly_wage.iloc[36:49]

,Субъект,2005,2010,2013,2014,2015,2016,2017,2018
36,Республика Крым,0,0.0,0.0,0.0,22263.0,23647.0,25167.0,29705.0
37,Краснодарский край,4878,12488.0,20114.0,22398.0,23382.0,24822.0,26471.0,32766.0
38,Астраханская область,3961,11160.0,19059.0,21121.0,21256.0,22029.0,23624.0,30745.0
39,Волгоградская область,4385,11442.0,17580.0,20138.0,21541.0,22861.0,24029.0,30049.0
40,Ростовская область,4118,11549.0,17517.0,20027.0,21140.0,22867.0,23869.0,30265.0
41,г. Севастополь,0,0.0,0.0,0.0,21008.0,23027.0,27129.0,33595.0
42,Северо-Кавказский федеральный округ,4055,10002.0,16468.0,18702.0,19734.0,20467.0,21761.0,26553.0
43,Республика Дагестан,3247,8683.0,14524.0,17414.0,18742.0,18852.0,20294.0,25220.0
44,Республика Ингушетия,4810,10453.0,16778.0,19323.0,19791.0,19658.0,20437.0,26500.0
45,Кабардино-Балкарская Республика,3796,8895.0,15407.0,18162.0,18279.0,19419.0,20596.0,24844.0
46,Карачаево-Черкесская Республика,3978,9061.0,14314.0,16842.0,17555.0,18278.0,19452.0,24366.0
47,Республика Северная Осетия - Алания,3855,8678.0,15875.0,18548.0,18554.0,19133.0,19817.0,25584.0
48,Чеченская Республика,…,8233.0,14750.0,16527.0,19137.0,19648.0,20907.0,26006.0

In [320]:
# заменим троеточие значением 0
average_monthly_wage = average_monthly_wage.replace(to_replace='…', value=0)

reduce_mem_usage(average_monthly_wage)

# посмотрим остались ли какие либо выпадающие значения
average_monthly_wage.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 8.6%

,2005,2010,2013,2014,2015,2016,2017,2018
count,96.00000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,5817.75000,14341.083008,22963.781250,25604.333984,27105.968750,28335.937500,30512.384766,37762.886719
std,2956.56591,6869.427734,10317.900391,11247.232422,10972.191406,11606.390625,12724.078125,15343.696289
min,0.00000,0.000000,0.000000,0.000000,16370.000000,16886.000000,19111.000000,24366.000000
25%,4047.75000,10440.000000,17301.750000,19185.250000,19954.000000,21088.250000,22731.000000,28430.500000
50%,4969.00000,12447.500000,19881.500000,22161.500000,23004.000000,23787.500000,25575.500000,32336.000000
75%,6525.25000,15607.750000,25373.250000,27646.250000,28737.750000,29417.000000,31887.750000,40083.250000
max,17573.00000,39960.000000,58521.000000,64545.000000,66821.000000,71017.000000,81746.000000,95663.000000

In [321]:
average_monthly_wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  96 non-null     category
 1   2005     96 non-null     int16
 2   2010     96 non-null     float32
 3   2013     96 non-null     float32
 4   2014     96 non-null     float32
 5   2015     96 non-null     float32
 6   2016     96 non-null     float32
 7   2017     96 non-null     float32
 8   2018     96 non-null     float32
dtypes: category(1), float32(7), int16(1)
memory usage: 6.3 KB

In [322]:
# запишем полученный датафрейм в базу данных
average_monthly_wage.to_sql('average_monthly_wage', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:39,073 INFO sqlalchemy.engine.base.Engine DESCRIBE `average_monthly_wage`
2020-09-01 22:28:39,074 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,079 INFO sqlalchemy.engine.base.Engine DESCRIBE `average_monthly_wage`
2020-09-01 22:28:39,082 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,088 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:39,089 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,092 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `average_monthly_wage`
2020-09-01 22:28:39,093 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,099 INFO sqlalchemy.engine.base.Engine
DROP TABLE average_monthly_wage
2020-09-01 22:28:39,100 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,113 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:39,116 INFO sqlalchemy.engine.base.Engine
CREATE TABLE average_monthly_wage (
	`Субъект` TEXT,
	`2005` BIGINT,
	`2010` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:39,117 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:39,138 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:39,140 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:39,142 INFO sqlalchemy.engine.base.Engine INSERT INTO average_monthly_wage (`Субъект`, `2005`, `2010`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:39,143 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 5927, '2010': 15794.0, '2013': 24570.0, '2014': 27213.0, '2015': 28318.0, '2016': 29882.0, '2017': 31980.0, '2018': 40027.0}, {'Субъект': ' Центральный федеральный округ', '2005': 6673, '2010': 20994.0, '2013': 30749.0, '2014': 33330.0, '2015': 34730.0, '2016': 36864.0, '2017': 39650.0, '2018': 50269.0}, {'Субъект': 'Белгородская область', '2005': 4026, '2010': 10198.0, '2013': 17594.0, '2014': 20177.0, '2015': 22666.0, '2016': 23988.0, '2017': 25202.0, '2018': 30150.0}, {'Субъект': 'Брянская область', '2005': 3722, '2010': 8705.0, '2013': 15726.0, '2014': 17854.0, '2015': 18044.0, '2016': 19343.0, '2017': 20856.0, '2018': 25499.0}, {'Субъект': 'Владимирская область', '2005': 4969, '2010': 12577.0, '2013': 18768.0, '2014': 21003.0, '2015': 21697.0, '2016': 22924.0, '2017': 24921.0, '2018': 30049.0}, {'Субъект': 'Воронежская область', '2005': 3975, '2010': 10349.0, '2013': 17347.0, '2014': 20189.0, '2015': 21158.0, '2016': 21475.0, '2017': 23434.0, '2018': 29699.0}, {'Субъект': 'Ивановская область', '2005': 3694, '2010': 10401.0, '2013': 17134.0, '2014': 18494.0, '2015': 18898.0, '2016': 19912.0, '2017': 21381.0, '2018': 25518.0}, {'Субъект': 'Калужская область', '2005': 5664, '2010': 13508.0, '2013': 23359.0, '2014': 26056.0, '2015': 26188.0, '2016': 27999.0, '2017': 28400.0, '2018': 36427.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 6515, '2010': 14290.0, '2013': 23174.0, '2014': 25736.0, '2015': 27624.0, '2016': 27706.0, '2017': 29031.0, '2018': 36191.0}, {'Субъект': 'Чукотский автономный округ', '2005': 17573, '2010': 35739.0, '2013': 54559.0, '2014': 62086.0, '2015': 62851.0, '2016': 71017.0, '2017': 81746.0, '2018': 93942.0})
2020-09-01 22:28:39,149 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id10'></a>

  ### <center><h2>[ЧИСЛО БОЛЬНИЧНЫХ КОЕК ПО СУБЪЕКТАМ РОССИЙСКОЙ ФЕДЕРАЦИИ](#section_id2)</h2> </center> 
                                                                                              
### <center><h4>(тысяч коек)</h4></center>

In [323]:
beds = pd.read_excel("https://rosstat.gov.ru/bgd/regl/b19_34/IssWWW.exe/Stg/r_3.xlsx",
                                     sheet_name='Т.3.2.')
beds = beds.drop([0,99])
beds.columns = ['Субъект','2005','2010','2011','2012','2013','2014','2015','2016','2017','2018']
beds.reset_index(inplace = True, drop = True)

In [324]:
beds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  98 non-null     object
 1   2005     94 non-null     object
 2   2010     94 non-null     object
 3   2011     94 non-null     float64
 4   2012     94 non-null     float64
 5   2013     94 non-null     float64
 6   2014     96 non-null     float64
 7   2015     96 non-null     float64
 8   2016     96 non-null     float64
 9   2017     96 non-null     float64
 10  2018     96 non-null     float64
dtypes: float64(8), object(3)
memory usage: 8.5+ KB

In [325]:
# удалим пустые строки 
beds = beds.drop([24, 70])
beds.reset_index(inplace = True, drop = True)

In [326]:
beds.fillna(0, inplace=True)
beds.iloc[36:49]

,Субъект,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
36,Республика Крым,0,0,0.0,0.0,0.0,16.3,14.8,14.5,15.1,14.6
37,Краснодарский край,49.2,42.7,44.0,44.2,44.1,41.3,40.7,41.1,42.0,41.5
38,Астраханская область,11.7,10.3,10.8,10.4,10.0,9.8,9.6,9.4,9.0,9.0
39,Волгоградская область,31.5,28.4,27.7,26.9,24.7,22.6,22.8,22.2,22.0,22.0
40,Ростовская область,43.6,37.3,38.7,38.2,37.9,34.2,34.5,34.5,34.1,33.8
41,г. Севастополь,0,0,0.0,0.0,0.0,2.8,2.7,2.6,3.6,3.6
42,Северо-Кавказский федеральный округ,64.8,73.6,73.1,74.1,73.0,71.5,70.9,70.4,70.4,71.5
43,Республика Дагестан,18,19.7,20.3,20.7,20.9,20.7,20.5,20.4,21.2,21.5
44,Республика Ингушетия,1.9,2.1,2.1,2.1,2.1,2.3,2.3,2.3,2.2,2.2
45,Кабардино-Балкарская Республика,9,8.4,8.3,8.4,8.1,7.5,7.3,7.1,6.7,6.5
46,Карачаево-Черкесская Республика,4.4,4.1,4.0,3.8,3.7,3.4,3.5,3.3,3.2,3.2
47,Республика Северная Осетия - Алания,7.2,7.1,7.4,7.5,6.6,6.2,6.2,6.3,6.3,6.2
48,Чеченская Республика,…,10.5,9.6,10.0,10.0,8.7,8.6,8.6,8.2,8.5

In [327]:
# заменим str 
beds = beds.replace(to_replace='…', value=0)
beds = beds.replace(to_replace='16, 5', value=16.5)
reduce_mem_usage(beds)

# посмотрим остались ли какие либо выпадающие значения
beds.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 13.8%

,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,49.734371,42.283325,42.515629,42.055202,41.103123,40.005215,38.593754,37.816662,37.354168,37.037502
std,169.114914,143.480148,144.291412,142.674866,139.367355,135.476089,130.511383,127.852119,126.238693,125.173271
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.400000,0.400000,0.400000
25%,9.775000,8.300000,8.225000,8.475000,8.175000,8.050000,7.750000,7.250000,7.175000,6.925000
50%,15.100000,12.000000,12.050000,12.100000,12.050000,11.800000,11.150000,10.850000,10.600000,10.500000
75%,31.125000,26.575000,27.125000,26.750000,25.900001,24.350000,24.525000,24.400000,23.800000,23.500000
max,1575.400024,1339.500000,1347.099976,1332.300049,1301.900024,1266.800049,1222.000000,1197.199951,1182.699951,1172.800049

In [328]:
beds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  96 non-null     category
 1   2005     96 non-null     float32
 2   2010     96 non-null     float32
 3   2011     96 non-null     float32
 4   2012     96 non-null     float32
 5   2013     96 non-null     float32
 6   2014     96 non-null     float32
 7   2015     96 non-null     float32
 8   2016     96 non-null     float32
 9   2017     96 non-null     float32
 10  2018     96 non-null     float32
dtypes: category(1), float32(10)
memory usage: 7.2 KB

In [329]:
# запишем полученный датафрейм в базу данных
beds.to_sql('beds', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:42,055 INFO sqlalchemy.engine.base.Engine DESCRIBE `beds`
2020-09-01 22:28:42,056 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,059 INFO sqlalchemy.engine.base.Engine DESCRIBE `beds`
2020-09-01 22:28:42,060 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,063 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:42,064 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,069 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `beds`
2020-09-01 22:28:42,070 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,075 INFO sqlalchemy.engine.base.Engine
DROP TABLE beds
2020-09-01 22:28:42,075 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,090 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:42,096 INFO sqlalchemy.engine.base.Engine
CREATE TABLE beds (
	`Субъект` TEXT,
	`2005` FLOAT(23),
	`2010` FLOAT(23),
	`2011` FLOAT(23),
	`2012` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:42,097 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:42,120 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:42,123 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:42,128 INFO sqlalchemy.engine.base.Engine INSERT INTO beds (`Субъект`, `2005`, `2010`, `2011`, `2012`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:42,128 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 1575.4000244140625, '2010': 1339.5, '2011': 1347.0999755859375, '2012': 1332.300048828125, '2013': 1301.9000244140625, '2014': 1266.800048828125, '2015': 1222.0, '2016': 1197.199951171875, '2017': 1182.699951171875, '2018': 1172.800048828125}, {'Субъект': ' Центральный федеральный округ', '2005': 428.20001220703125, '2010': 354.70001220703125, '2011': 356.5, '2012': 350.20001220703125, '2013': 340.0, '2014': 326.29998779296875, '2015': 306.79998779296875, '2016': 299.5, '2017': 292.70001220703125, '2018': 290.5}, {'Субъект': 'Белгородская область', '2005': 16.899999618530273, '2010': 12.5, '2011': 12.300000190734863, '2012': 12.5, '2013': 12.399999618530273, '2014': 12.5, '2015': 12.0, '2016': 11.300000190734863, '2017': 11.300000190734863, '2018': 11.199999809265137}, {'Субъект': 'Брянская область', '2005': 16.899999618530273, '2010': 11.800000190734863, '2011': 11.600000381469727, '2012': 11.800000190734863, '2013': 11.100000381469727, '2014': 10.300000190734863, '2015': 9.399999618530273, '2016': 9.100000381469727, '2017': 9.100000381469727, '2018': 9.100000381469727}, {'Субъект': 'Владимирская область', '2005': 15.5, '2010': 11.100000381469727, '2011': 12.0, '2012': 12.0, '2013': 12.100000381469727, '2014': 11.899999618530273, '2015': 12.0, '2016': 11.699999809265137, '2017': 11.5, '2018': 11.399999618530273}, {'Субъект': 'Воронежская область', '2005': 25.299999237060547, '2010': 21.299999237060547, '2011': 21.899999618530273, '2012': 21.700000762939453, '2013': 21.399999618530273, '2014': 21.399999618530273, '2015': 20.0, '2016': 19.600000381469727, '2017': 19.200000762939453, '2018': 19.100000381469727}, {'Субъект': 'Ивановская область', '2005': 13.899999618530273, '2010': 11.0, '2011': 10.699999809265137, '2012': 10.899999618530273, '2013': 10.5, '2014': 10.0, '2015': 9.199999809265137, '2016': 8.399999618530273, '2017': 8.199999809265137, '2018': 8.199999809265137}, {'Субъект': 'Калужская область', '2005': 11.800000190734863, '2010': 10.0, '2011': 10.300000190734863, '2012': 10.0, '2013': 9.699999809265137, '2014': 9.199999809265137, '2015': 8.5, '2016': 8.0, '2017': 7.599999904632568, '2018': 7.699999809265137}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 2.799999952316284, '2010': 2.5, '2011': 2.5, '2012': 2.200000047683716, '2013': 2.0999999046325684, '2014': 2.0999999046325684, '2015': 2.0999999046325684, '2016': 2.0999999046325684, '2017': 2.0, '2018': 1.899999976158142}, {'Субъект': 'Чукотский автономный округ', '2005': 1.2999999523162842, '2010': 0.8999999761581421, '2011': 0.800000011920929, '2012': 0.699999988079071, '2013': 0.800000011920929, '2014': 0.800000011920929, '2015': 0.699999988079071, '2016': 0.699999988079071, '2017': 0.699999988079071, '2018': 0.699999988079071})
2020-09-01 22:28:42,136 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id11'></a>

  ### <center><h2>[КОНТИНГЕНТЫ ПАЦИЕНТОВ С АЛКОГОЛИЗМОМ И АЛКОГОЛЬНЫМИ ПСИХОЗАМИ ПО СУБЪКТАМ РОССИЙСКОЙ ФЕДЕРАЦИИ](#section_id2)</h2> </center> 
                                                                                              
### <center><h4>(Всего, человек)</h4></center>

In [330]:
alcoholism = pd.read_excel("https://rosstat.gov.ru/bgd/regl/b19_34/IssWWW.exe/Stg/r_2.xls",
                                     sheet_name='Т.2.8.')
alcoholism.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13',
                 'Unnamed: 14','Unnamed: 15','Unnamed: 16'], axis=1, inplace=True)
alcoholism = alcoholism.drop([0,1])
alcoholism.columns = ['Субъект','2005','2010','2013','2014','2015','2016','2017','2018']
alcoholism.reset_index(inplace = True, drop = True)
alcoholism

,Субъект,2005,2010,2013,2014,2015,2016,2017,2018
0,Российская Федерация,2190674,1953129.0,1746514.0,1689975.0,1577046.0,1444520.0,1304613.0,1208582.0
1,Центральный федеральный округ,614230,555531.0,516389.0,501599.0,470280.0,421168.0,376976.0,358364.0
2,Белгородская область,19686,16252.0,14567.0,13939.0,12787.0,12127.0,11602.0,10770.0
3,Брянская область,31897,29291.0,28032.0,27111.0,26098.0,24254.0,22666.0,21383.0
4,Владимирская область,29586,26879.0,25101.0,24340.0,23323.0,22573.0,22151.0,21196.0
...,...,...,...,...,...,...,...,...,...
93,Амурская область,14180,15025.0,11715.0,10948.0,10473.0,9848.0,8611.0,8306.0
94,Магаданская область,8810,6279.0,4398.0,3900.0,3779.0,3589.0,3341.0,2826.0
95,Сахалинская область,20345,13350.0,11573.0,11291.0,10941.0,10146.0,8889.0,8357.0
96,Еврейская автономная область,1938,2665.0,2637.0,2653.0,2602.0,2788.0,2744.0,2417.0
97,Чукотский автономный округ,1918,2088.0,1963.0,1907.0,1777.0,1746.0,1714.0,1699.0

In [331]:
# проверим пропущенные значения
alcoholism.isna().sum()

Субъект    0
2005       4
2010       4
2013       4
2014       2
2015       2
2016       2
2017       2
2018       2
dtype: int64

In [332]:
# удалим пустые строки 
alcoholism = alcoholism.drop([24, 70])
alcoholism.reset_index(inplace = True, drop = True)

In [333]:
alcoholism.fillna(0, inplace=True)
alcoholism.iloc[36:49]

,Субъект,2005,2010,2013,2014,2015,2016,2017,2018
36,Республика Крым,0,0.0,0.0,22127.0,22118.0,21852.0,21425.0,20372.0
37,Краснодарский край,81175,68101.0,47929.0,43483.0,38223.0,31706.0,26585.0,20673.0
38,Астраханская область,16358,15024.0,12304.0,11044.0,10161.0,9235.0,7548.0,6551.0
39,Волгоградская область,41269,30544.0,27874.0,26924.0,21069.0,16603.0,15259.0,14623.0
40,Ростовская область,60488,57049.0,51307.0,49019.0,46741.0,44462.0,42187.0,40362.0
41,г. Севастополь,0,0.0,0.0,3466.0,3300.0,2982.0,2686.0,2451.0
42,Северо-Кавказский федеральный округ,56920,58392.0,53597.0,52533.0,51645.0,49507.0,47191.0,46367.0
43,Республика Дагестан,9526,10800.0,9515.0,8559.0,8063.0,7498.0,7409.0,7346.0
44,Республика Ингушетия,71,42.0,43.0,43.0,41.0,43.0,41.0,40.0
45,Кабардино-Балкарская Республика,7251,6997.0,6153.0,6244.0,6253.0,6208.0,6033.0,5950.0
46,Карачаево-Черкесская Республика,5089,5201.0,4855.0,4691.0,4627.0,4249.0,3730.0,3468.0
47,Республика Северная Осетия - Алания,4469,4622.0,4664.0,4652.0,4600.0,4515.0,4467.0,4510.0
48,Чеченская Республика,…,2727.0,3093.0,3124.0,3225.0,3030.0,2748.0,2784.0

In [334]:
# заменим троеточие значением 0
alcoholism = alcoholism.replace(to_replace='…', value=0)

reduce_mem_usage(alcoholism)

# посмотрим остались ли какие либо выпадающие значения
alcoholism.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 5.9%

,2005,2010,2013,2014,2015,2016,2017,2018
count,9.600000e+01,9.600000e+01,9.600000e+01,9.600000e+01,9.600000e+01,9.600000e+01,9.600000e+01,9.600000e+01
mean,6.923909e+04,6.169467e+04,5.514752e+04,5.335843e+04,4.981868e+04,4.560931e+04,4.119406e+04,3.814600e+04
std,2.358371e+05,2.105920e+05,1.890078e+05,1.828060e+05,1.705171e+05,1.561608e+05,1.409622e+05,1.306316e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,4.300000e+01,4.100000e+01,4.300000e+01,4.100000e+01,4.000000e+01
25%,1.341850e+04,1.230200e+04,1.117925e+04,1.086300e+04,1.039500e+04,9.356500e+03,8.345250e+03,8.066000e+03
50%,2.203050e+04,2.018750e+04,1.790500e+04,1.768000e+04,1.682550e+04,1.596000e+04,1.306150e+04,1.221600e+04
75%,3.987700e+04,3.501650e+04,3.332100e+04,3.181725e+04,2.946025e+04,2.523000e+04,2.296325e+04,2.124275e+04
max,2.190674e+06,1.953129e+06,1.746514e+06,1.689975e+06,1.577046e+06,1.444520e+06,1.304613e+06,1.208582e+06

In [335]:
alcoholism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Субъект  96 non-null     category
 1   2005     96 non-null     int32
 2   2010     96 non-null     float32
 3   2013     96 non-null     float32
 4   2014     96 non-null     float32
 5   2015     96 non-null     float32
 6   2016     96 non-null     float32
 7   2017     96 non-null     float32
 8   2018     96 non-null     float32
dtypes: category(1), float32(7), int32(1)
memory usage: 6.5 KB

In [336]:
# запишем полученный датафрейм в базу данных
alcoholism.to_sql('alcoholism', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:46,494 INFO sqlalchemy.engine.base.Engine DESCRIBE `alcoholism`
2020-09-01 22:28:46,495 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,498 INFO sqlalchemy.engine.base.Engine DESCRIBE `alcoholism`
2020-09-01 22:28:46,498 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,501 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:46,502 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,505 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `alcoholism`
2020-09-01 22:28:46,507 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,511 INFO sqlalchemy.engine.base.Engine
DROP TABLE alcoholism
2020-09-01 22:28:46,512 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,524 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:46,528 INFO sqlalchemy.engine.base.Engine
CREATE TABLE alcoholism (
	`Субъект` TEXT,
	`2005` INTEGER,
	`2010` FLOAT(23),
	`2013` FLOAT(23),
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:46,528 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:46,551 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:46,554 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:46,556 INFO sqlalchemy.engine.base.Engine INSERT INTO alcoholism (`Субъект`, `2005`, `2010`, `2013`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:46,557 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 2190674, '2010': 1953129.0, '2013': 1746514.0, '2014': 1689975.0, '2015': 1577046.0, '2016': 1444520.0, '2017': 1304613.0, '2018': 1208582.0}, {'Субъект': 'Центральный федеральный округ', '2005': 614230, '2010': 555531.0, '2013': 516389.0, '2014': 501599.0, '2015': 470280.0, '2016': 421168.0, '2017': 376976.0, '2018': 358364.0}, {'Субъект': 'Белгородская область', '2005': 19686, '2010': 16252.0, '2013': 14567.0, '2014': 13939.0, '2015': 12787.0, '2016': 12127.0, '2017': 11602.0, '2018': 10770.0}, {'Субъект': 'Брянская область', '2005': 31897, '2010': 29291.0, '2013': 28032.0, '2014': 27111.0, '2015': 26098.0, '2016': 24254.0, '2017': 22666.0, '2018': 21383.0}, {'Субъект': 'Владимирская область', '2005': 29586, '2010': 26879.0, '2013': 25101.0, '2014': 24340.0, '2015': 23323.0, '2016': 22573.0, '2017': 22151.0, '2018': 21196.0}, {'Субъект': 'Воронежская область', '2005': 37402, '2010': 34075.0, '2013': 33848.0, '2014': 33294.0, '2015': 32692.0, '2016': 31290.0, '2017': 30627.0, '2018': 30511.0}, {'Субъект': 'Ивановская область', '2005': 34403, '2010': 36021.0, '2013': 34354.0, '2014': 33637.0, '2015': 29321.0, '2016': 15993.0, '2017': 10906.0, '2018': 10489.0}, {'Субъект': 'Калужская область', '2005': 15656, '2010': 14888.0, '2013': 12793.0, '2014': 12489.0, '2015': 11915.0, '2016': 10958.0, '2017': 10025.0, '2018': 9395.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 1938, '2010': 2665.0, '2013': 2637.0, '2014': 2653.0, '2015': 2602.0, '2016': 2788.0, '2017': 2744.0, '2018': 2417.0}, {'Субъект': 'Чукотский автономный округ', '2005': 1918, '2010': 2088.0, '2013': 1963.0, '2014': 1907.0, '2015': 1777.0, '2016': 1746.0, '2017': 1714.0, '2018': 1699.0})
2020-09-01 22:28:46,564 INFO sqlalchemy.engine.base.Engine COMMIT

<a id='section_id12'></a>

  ### <center><h2>[ПРЕРЫВАНИЕ БЕРЕМЕННОСТИ (АБОРТЫ)](#section_id2)</h2> </center> 
                                                                                              
### <center><h4>(На 1000 женщин 15 – 49 лет)</h4></center>

In [337]:
# скачаем файл и передадим его в функцию которая его обработает

abortion_url = 'https://rosstat.gov.ru/bgd/regl/b19_14p/IssWWW.exe/Stg/d01/06-07.docx'
abortion = read_docx(abortion_url)

# из полученных файлов сделаем датафреймы и и объединим их
df_0 = pd.DataFrame(abortion[0])
df_1 = pd.DataFrame(abortion[1])
abortion = df_0.append(df_1).reset_index(drop=True)

#обозначим названия столбцов и удалим ненужные строки
abortion.columns = ['Субъект','2005','2010','2014', '2015','2016','2017','2018','1','2','3', '4','5','6','7']
abortion.drop(['1','2','3', '4','5','6','7'], axis=1, inplace=True)
abortion.drop([0,1,26, 53,54,74], inplace = True)

abortion.reset_index(inplace = True, drop = True)
abortion

                          Субъект 2005 2010  2014  2015  2016  2017  2018
0            Российская Федерация   43   32  26.0  24.0  24.0  22.0  19.0
1   Центральный федеральный округ   34   24  19.0  18.0  18.0  17.0  14.0
2            Белгородская область   31   19  14.0  14.0  14.0  13.0  11.0
3                Брянская область   47   37  31.0  32.0  29.0  26.0  24.0
4            Владимирская область   46   34  29.0  27.0  26.0  24.0  21.0
..                            ...  ...  ...   ...   ...   ...   ...   ...
91               Амурская область   88   55  45.0  37.0  35.0  31.0  27.0
92            Магаданская область   61   55  50.0  46.0  45.0  39.0  32.0
93            Сахалинская область   67   54  47.0  41.0  41.0  38.0  33.0
94   Еврейская автономная область   66   53  45.0  47.0  44.0  43.0  38.0
95     Чукотский автономный округ   64   40  37.0  39.0  39.0  34.0  26.0

[96 rows x 8 columns]

In [338]:
# проверим пропущенные значения
abortion.isna().sum()

Субъект    0
2005       2
2010       2
2014       0
2015       0
2016       0
2017       0
2018       0
dtype: int64

In [339]:
abortion.fillna(0, inplace=True)
abortion = abortion.replace(to_replace='…', value=0)
abortion.iloc[36:49]

,Субъект,2005,2010,2014,2015,2016,2017,2018
36,Республика Крым,0,0,20.0,21.0,21.0,18.0,16.0
37,Краснодарский край,40,24,20.0,19.0,19.0,15.0,13.0
38,Астраханская область,42,26,20.0,18.0,19.0,20.0,17.0
39,Волгоградская область,49,38,31.0,30.0,27.0,19.0,16.0
40,Ростовская область,31,24,16.0,14.0,15.0,14.0,12.0
41,г. Севастополь,0,0,24.0,23.0,21.0,20.0,16.0
42,Северо-Кавказскийфедеральный округ,25,17,14.0,13.0,13.0,12.0,11.0
43,Республика Дагестан,16,12,8.0,8.0,9.0,7.0,7.0
44,Республика Ингушетия,8,13,9.0,8.0,8.0,7.0,6.0
45,Кабардино-Балкарская Республика,26,14,12.0,11.0,11.0,10.0,8.0
46,Карачаево-Черкесская Республика,20,13,13.0,12.0,11.0,12.0,11.0
47,Республика Северная Осетия – Алания,27,22,19.0,16.0,15.0,16.0,13.0
48,Чеченская Республика,0,13,11.0,11.0,12.0,11.0,10.0

In [340]:
# некоторые переменные являются категориальными приведем их в числовой вид
abortion['2005'] = pd.to_numeric(abortion['2005'])
abortion['2010'] = pd.to_numeric(abortion['2010'])

In [341]:
reduce_mem_usage(abortion)

# посмотрим остались ли какие либо выпадающие значения
abortion.describe()

Memory usage of dataframe is 0.01 MB
Memory usage after optimization is: 0.01 MB
Decreased by 9.7%

,2005,2010,2014,2015,2016,2017,2018
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,45.395833,34.947917,29.385416,27.031250,26.864584,25.187500,21.479166
std,15.214591,12.307781,10.067530,9.127694,9.173900,8.925791,7.368466
min,0.000000,0.000000,8.000000,8.000000,8.000000,7.000000,6.000000
25%,39.000000,26.750000,22.000000,20.000000,20.000000,19.000000,16.000000
50%,46.000000,35.000000,29.000000,27.000000,25.500000,24.000000,20.500000
75%,55.000000,44.250000,37.000000,34.250000,34.250000,33.000000,27.250000
max,88.000000,58.000000,53.000000,47.000000,46.000000,48.000000,38.000000

In [342]:
# запишем полученный датафрейм в базу данных
abortion.to_sql('abortion', engine, if_exists='replace', index=False, chunksize=1000)

2020-09-01 22:28:49,175 INFO sqlalchemy.engine.base.Engine DESCRIBE `abortion`
2020-09-01 22:28:49,177 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,184 INFO sqlalchemy.engine.base.Engine DESCRIBE `abortion`
2020-09-01 22:28:49,184 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,191 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `healthcare_demographics`
2020-09-01 22:28:49,192 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,196 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `abortion`
2020-09-01 22:28:49,197 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,203 INFO sqlalchemy.engine.base.Engine
DROP TABLE abortion
2020-09-01 22:28:49,205 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,218 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:49,224 INFO sqlalchemy.engine.base.Engine
CREATE TABLE abortion (
	`Субъект` TEXT,
	`2005` BIGINT,
	`2010` BIGINT,
	`2014` FLOAT(23),
	`2015` FLOAT(23),
	`2016` FLOAT(23),
	`2017` FLOAT(23),
	`2018` FLOAT(23)
)


2020-09-01 22:28:49,225 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,248 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 22:28:49,250 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 22:28:49,253 INFO sqlalchemy.engine.base.Engine INSERT INTO abortion (`Субъект`, `2005`, `2010`, `2014`, `2015`, `2016`, `2017`, `2018`) VALUES (%(Субъект)s, %(2005)s, %(2010)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)
2020-09-01 22:28:49,255 INFO sqlalchemy.engine.base.Engine ({'Субъект': 'Российская Федерация', '2005': 43, '2010': 32, '2014': 26.0, '2015': 24.0, '2016': 24.0, '2017': 22.0, '2018': 19.0}, {'Субъект': 'Центральный федеральный округ', '2005': 34, '2010': 24, '2014': 19.0, '2015': 18.0, '2016': 18.0, '2017': 17.0, '2018': 14.0}, {'Субъект': 'Белгородская область', '2005': 31, '2010': 19, '2014': 14.0, '2015': 14.0, '2016': 14.0, '2017': 13.0, '2018': 11.0}, {'Субъект': 'Брянская область', '2005': 47, '2010': 37, '2014': 31.0, '2015': 32.0, '2016': 29.0, '2017': 26.0, '2018': 24.0}, {'Субъект': 'Владимирская область', '2005': 46, '2010': 34, '2014': 29.0, '2015': 27.0, '2016': 26.0, '2017': 24.0, '2018': 21.0}, {'Субъект': 'Воронежская область', '2005': 48, '2010': 26, '2014': 21.0, '2015': 20.0, '2016': 20.0, '2017': 18.0, '2018': 15.0}, {'Субъект': 'Ивановская область', '2005': 40, '2010': 36, '2014': 25.0, '2015': 22.0, '2016': 20.0, '2017': 18.0, '2018': 16.0}, {'Субъект': 'Калужская область', '2005': 42, '2010': 32, '2014': 26.0, '2015': 23.0, '2016': 21.0, '2017': 20.0, '2018': 18.0}  ... displaying 10 of 96 total bound parameter sets ...  {'Субъект': 'Еврейская автономная область', '2005': 66, '2010': 53, '2014': 45.0, '2015': 47.0, '2016': 44.0, '2017': 43.0, '2018': 38.0}, {'Субъект': 'Чукотский автономный округ', '2005': 64, '2010': 40, '2014': 37.0, '2015': 39.0, '2016': 39.0, '2017': 34.0, '2018': 26.0})
2020-09-01 22:28:49,261 INFO sqlalchemy.engine.base.Engine COMMIT

#### Сохраним все датасеты в формат excel :

In [343]:
population.to_excel('Население субъектов Российской Федерациина 1 января (тысяч человек).xls')
mortality.to_excel('ОБЩИЕ КОЭФФИЦИЕНТЫ СМЕРТНОСТИ (число умерших на 1000 человек населения).xls')
birthrate.to_excel('ОБЩИЕ КОЭФФИЦИЕНТЫ РОЖДАЕМОСТИ (число родившихся на 1000 человек населения).xls')
marriage_rate.to_excel('ОБЩИЕ КОЭФФИЦИЕНТЫ БРАЧНОСТИ (на 1000 человек населения).xls')
divorce_rate.to_excel('ОБЩИЕ КОЭФФИЦИЕНТЫ РАЗВОДИМОСТИ (на 1000 человек населения).xls')
migration.to_excel('КОЭФФИЦИЕНТЫ МИГРАЦИОННОГО ПРИРОСТА) (на 10 000 человек населения).xls')
budgeting.to_excel('РАСХОДЫ КОНСОЛИДИРОВАННЫХ БЮДЖЕТОВ СУБЪЕКТОВ РОССИЙСКОЙ ФЕДЕРАЦИИ НА ЗДРАВООХРАНЕНИЕ)(миллионов рублей).xls')
average_monthly_wage.to_excel('СРЕДНЕМЕСЯЧНАЯ НОМИНАЛЬНАЯ НАЧИСЛЕННАЯ ЗАРАБОТНАЯ ПЛАТА РАБОТНИКОВ ЗДРАВООХРАНЕНИЯ(рублей).xls')
beds.to_excel('ЧИСЛО БОЛЬНИЧНЫХ КОЕК ПО СУБЪЕКТАМ РОССИЙСКОЙ ФЕДЕРАЦИИ(тысяч коек).xls')
alcoholism.to_excel('КОНТИНГЕНТЫ ПАЦИЕНТОВ С АЛКОГОЛИЗМОМ И АЛКОГОЛЬНЫМИ ПСИХОЗАМИ ПО СУБЪКТАМ РОССИЙСКОЙ ФЕДЕРАЦИИ(Всего, человек).xls')
abortion.to_excel('ПРЕРЫВАНИЕ БЕРЕМЕННОСТИ (АБОРТЫ).xls')

In [344]:
# запрос к созданной базе данных
sql_df = pd.read_sql(
    "SELECT * FROM population",
    con=engine
)
sql_df

2020-09-01 22:28:49,496 INFO sqlalchemy.engine.base.Engine DESCRIBE `SELECT * FROM population`
2020-09-01 22:28:49,500 INFO sqlalchemy.engine.base.Engine {}
2020-09-01 22:28:49,520 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-09-01 22:28:49,523 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM population
2020-09-01 22:28:49,524 INFO sqlalchemy.engine.base.OptionEngine {}

,Субъект,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Российская Федерация,146890.0,143801.0,142833.0,142865.0,143056.0,143347.0,143667.0,146267.0,146545.0,146804.0,146880.0,146781.0
1,Центральный федеральный округ,38228.0,38044.0,38335.0,38445.0,38538.0,38679.0,38820.0,38951.0,39104.0,39209.0,39311.0,39378.0
2,Белгородская область,1502.0,1512.0,1532.0,1532.0,1536.0,1541.0,1544.0,1548.0,1550.0,1553.0,1550.0,1548.0
3,Брянская область,1423.0,1344.0,1287.0,1275.0,1264.0,1254.0,1242.0,1233.0,1226.0,1221.0,1211.0,1200.0
4,Владимирская область,1576.0,1498.0,1450.0,1441.0,1432.0,1422.0,1413.0,1406.0,1397.0,1390.0,1378.0,1366.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Амурская область,936.0,874.0,835.0,829.0,821.0,817.0,811.0,810.0,806.0,802.0,798.0,794.0
92,Магаданская область,202.0,174.0,159.0,156.0,155.0,152.0,150.0,148.0,147.0,146.0,144.0,141.0
93,Сахалинская область,569.0,530.0,501.0,497.0,495.0,494.0,491.0,488.0,487.0,487.0,490.0,490.0
94,Еврейская автономная область,195.0,186.0,178.0,176.0,175.0,173.0,171.0,169.0,166.0,164.0,162.0,160.0
95,Чукотский автономный округ,61.0,52.0,51.0,51.0,51.0,51.0,51.0,51.0,50.0,50.0,50.0,50.0